.photos {
  @include flex(column, center, null);

  &__list {
    display: grid;
    width: 100%;
    height: 301px;

    gap: 30px;
    margin-bottom: 30px;
    max-width: 1860px;

    @include tablet {
      gap: 20px;
    }
    @include mobile {
      gap: 10px;
      margin-bottom: 18px;
      max-width: 318px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &_gap {
      @include mobile {
        gap: 18px;
      }
    }
    &_small {
      grid-template-columns: 1fr 1fr 1fr 1fr;

      @include tablet {
        grid-template-columns: 1fr 1fr 1fr;
      }
      @include mobile {
        grid-template-columns: 1fr 1fr;
      }
    }
    &_big {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

      @include tablet {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      @include mobile {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
  &__card {
    position: relative;
    overflow: hidden;
    border-radius: 50px;

    @include mobile {
      height: 110px;
      border-radius: 20px;
    }
    &_hidden-m {
      @include tablet {
        display: none;
      }
      @include mobile {
        display: none;
      }
    }
    &_hidden-s {
      @include mobile {
        display: none;
      }
    }
  }
  &__img {
    position: absolute;

    height: 301px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    // &_small {
    //   width: 443px;
    // }
    // &_big {
    //   width: 348px;
    // }

    &_mod-1 {
      width: 501px;
      height: 302px;
    }
    &_mod-2 {
      width: 443px;
      height: unset;
    }
    &_mod-3 {
      width: 499px;
      height: 302px;
    }
    &_mod-4 {
      width: 348px;
      height: unset;
    }
    &_mod-5 {
      object-position: 0 -160px;
      width: 348px;
      height: 602px;
      top: 100%;
    }
    &_mod-6 {
      object-position: 0 -288px;
      width: 443px;
      height: 602px;
      top: 100%;
    }
  }
}
