$primarylineheight: 142%;

$clr-black: #1b1f2b;
$clr-white: #ffffff;
$clr-orange200: #efa501;
$clr-orange100: #f8e6be;
$clr-green400: #286562;
$clr-green300: #3b7e7b;
$clr-green200: #627f7e;
$clr-green100: #e0f0e5;
$clr-gray300: #a6a6a6;
$clr-gray200: #d9dfdb;
$clr-gray100: #f1f3f2;
$clr-beige200: #f4f0e9;
$clr-beige100: #f9f7f4;

$primary-font-family: "Roboto";
$primary-font-style: normal;

$font-size-h1: 96px;
$font-size-h2: 59px;
$font-size-h3: 35px;
$font-size-h1-mobile: 34px;
$font-size-h2-mobile: 34px;
$font-size-h3-mobile: 23px;
$font-size-pbig: 23px;
$font-size-pnormal: 20px;
$font-size-psmall: 17px;
$font-size-pbig-mobile: 16px;
$font-size-pnormal-mobile: 16px;
$font-size-psmall-mobile: 16px;

$font-weight-h1: 700;
$font-weight-h2: 700;
$font-weight-h3: 500;
$font-weight-h1-mobile: 700;
$font-weight-h2-mobile: 700;
$font-weight-h3-mobile: 700;
$font-weight-pbig: 700;
$font-weight-pnormal: 400;
$font-weight-psmall: 400;
$font-weight-pbig-mobile: 700;
$font-weight-pnormal-mobile: 400;
$font-weight-psmall-mobile: 400;

$font-lineheight-h1: 109%;
$font-lineheight-h2: 124%;
$font-lineheight-h3: 122%;
$font-lineheight-h1-mobile: 112%;
$font-lineheight-h2-mobile: 112%;
$font-lineheight-h3-mobile: 120%;
$font-lineheight-pbig: 122%;
$font-lineheight-pnormal: 142%;
$font-lineheight-psmall: 142%;
$font-lineheight-pbig-mobile: 142%;
$font-lineheight-pnormal-mobile: 142%;
$font-lineheight-psmall-mobile: 142%;

$font-letterspacing-h1: 0.02em;
$font-letterspacing-h2: normal;
$font-letterspacing-h3: normal;
$font-letterspacing-h1-mobile: 0.02em;
$font-letterspacing-h2-mobile: 0.02em;
$font-letterspacing-h3-mobile: 0.04em;
$font-letterspacing-pbig: normal;
$font-letterspacing-pnormal: normal;
$font-letterspacing-psmall: -0.01em;
$font-letterspacing-pbig-mobile: normal;
$font-letterspacing-pnormal-mobile: normal;
$font-letterspacing-psmall-mobile: -0.01em;

$header-height: 831px;
$header_mobile-height: 488px;

$header__space-height: 88px;

$header__title-width: 768px;
$header__title_mobile-width: 360px;

$header__text-width: 562px;
$header__text_tablet-width: 442px;
$header__text_mobile-width: 310px;

$navigation-height: 88px;

$navigation__logo_mobile-width: 133px;

$tours__list-width: 1170px;
$tours__list_tablet-width: 918px;
$tours__list_mobile-width: 318px;

$tours-card-width: 370px;
$tours-card-height: 531px;
$tours-card_tablet-width: 450px;
$tours-card_mobile-width: 318px;
$tours-card_mobile-height: 318px;

$desc-width: 418px;
$desc_mobile-width: 318px;

$field__input-height: 68px;
$field__input_mobile-height: 43px;
$field__input_where_mobile-height: 46px;
$field__input_area-height: 152px;
$field__input_area_mobile-height: 132px;

$field__radiocircle-size: 26px;
$field__radiocircle_mobile-size: 20px;

$field__checkbox-size: 26px;
$field__checkbox_mobile-size: 20px;

$feedback__list_desktop-width: 1170px;
$feedback__list_tablet-width: 918px;

$photos-card-height: 301px;
$photos-card_mobile-height: 110px;

$stories__list-width: 1170px;
$stories__list_tablet-width: 918px;
$stories__list_mobile-width: 318px;

$stories-card-width: 1170px;
$stories-card_tablet-width: 918px;
$stories-card_mobile-width: 318px;
$stories-card-height: 567px;
$stories-card_mobile-height: 455px;
$stories-card__name-width: 140px;

$card-desc: 554px;
$card-desc_mobile: 263px;

$cardfootter__arrow-width: 22px;

$ending__pictureblock_mobile-width: 130px;
$ending__pictureblock_mobile-height: 133px;

$ending__block-width: 371px;
$ending__header_mobile-width: 291px;

$footer__social-ico_vk-width: 20px;
$footer__social-ico_vk-height: 12px;
$footer__social-ico_vk_mobile-width: 15.38px;
$footer__social-ico_vk_mobile-height: 9.23px;

$footer__social-ico_fb-width: 8px;
$footer__social-ico_fb-height: 17px;
$footer__social-ico_fb_mobile-width: 6.15px;
$footer__social-ico_fb_mobile-height: 13.08px;

$footer__social-ico_inst-width: 14px;
$footer__social-ico_inst-height: 14px;
$footer__social-ico_inst_mobile-width: 10.77px;
$footer__social-ico_inst_mobile-height: 10.77px;
