$clr-black: #1b1f2b;
$clr-white: #ffffff;
$clr-orange200: #efa501;
$clr-orange100: #f8e6be;
$clr-green400: #286562;
$clr-green300: #3b7e7b;
$clr-green200: #627f7e;
$clr-green100: #e0f0e5;
$clr-gray300: #a6a6a6;
$clr-gray200: #d9dfdb;
$clr-gray100: #f1f3f2;
$clr-beige200: #f4f0e9;
$clr-beige100: #f9f7f4;

$primary-font-family: "Roboto";
$primary-font-style: normal;

$font-size-h1: 96px;
$font-size-h2: 59px;
$font-size-h3: 35px;
$font-size-h1-mobile: 34px;
$font-size-h2-mobile: 34px;
$font-size-h3-mobile: 23px;
$font-size-pbig: 23px;
$font-size-pnormal: 20px;
$font-size-psmall: 17px;
$font-size-pbig-mobile: 16px;
$font-size-pnormal-mobile: 16px;
$font-size-psmall-mobile: 16px;

$font-weight-h1: 700;
$font-weight-h2: 700;
$font-weight-h3: 500;
$font-weight-h1-mobile: 700;
$font-weight-h2-mobile: 700;
$font-weight-h3-mobile: 700;
$font-weight-pbig: 700;
$font-weight-pnormal: 400;
$font-weight-psmall: 400;
$font-weight-pbig-mobile: 700;
$font-weight-pnormal-mobile: 400;
$font-weight-psmall-mobile: 400;

$font-lineheight-h1: 109%;
$font-lineheight-h2: 124%;
$font-lineheight-h3: 122%;
$font-lineheight-h1-mobile: 112%;
$font-lineheight-h2-mobile: 112%;
$font-lineheight-h3-mobile: 120%;
$font-lineheight-pbig: 122%;
$font-lineheight-pnormal: 142%;
$font-lineheight-psmall: 142%;
$font-lineheight-pbig-mobile: 142%;
$font-lineheight-pnormal-mobile: 142%;
$font-lineheight-psmall-mobile: 142%;

$font-letterspacing-h1: 0.02em;
$font-letterspacing-h2: normal;
$font-letterspacing-h3: normal;
$font-letterspacing-h1-mobile: 0.02em;
$font-letterspacing-h2-mobile: 0.02em;
$font-letterspacing-h3-mobile: 0.04em;
$font-letterspacing-pbig: normal;
$font-letterspacing-pnormal: normal;
$font-letterspacing-psmall: -0.01em;
$font-letterspacing-pbig-mobile: normal;
$font-letterspacing-pnormal-mobile: normal;
$font-letterspacing-psmall-mobile: -0.01em;

$header-height: 831px;
$header-height-nobile: 488px;
$header-sidepadding: 57px;
$header-sidepadding-mobile: 20px;

$tours-toppadding: 135px;
$tours-toppadding-mobile: 75px;
$tours-sidepadding-mobile: 21px;

$form-toppadding: 135px;
$form-sidepadding: 53px;
$form-toppadding-mobile: 75px;
$form-sidepadding-mobile: 21px;

$feedback-toppadding: 135px;
$feedback-toppadding-mobile: 75px;
$feedback-sidepadding-mobile: 21px;

$photos-toppadding: 135px;
$photos-sidepadding: 29px;
$photos-toppadding-tablet: 135px;
$photos-sidepadding-tablet: 20px;
$photos-toppadding-mobile: 75px;
$photos-sidepadding-mobile: 21px;

$stories-toppadding: 135px;
$stories-sidepadding: 29px;
$stories-toppadding-tablet: 135px;
$stories-sidepadding-tablet: 20px;
$stories-toppadding-mobile: 75px;
$stories-sidepadding-mobile: 21px;

$ending-toppadding: 135px;
$ending-sidepadding: 29px;
$ending-toppadding-tablet: 135px;
$ending-sidepadding-tablet: 20px;
$ending-toppadding-mobile: 75px;
$ending-sidepadding-mobile: 21px;

$footer-topmargin: 135px;
$footer-topmargin-mobile: 75px;
$form-sidepadding: 53px;
