@import "reset";
@import "media";
@import "vars";

@mixin flex($flexdir, $align, $justify) {
  display: flex;
  flex-direction: $flexdir;
  align-items: $align;
  justify-content: $justify;
}
@mixin hasCheckedOption() {
  &:has(option:checked:not(:disabled)) {
    @content;
  }
}
@mixin font($fs, $fw, $lh, $ls) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
}

html {
  scroll-behavior: smooth;
}

.body {
  font-family: "Roboto";
  font-style: normal;
  color: white;
  background-color: #f9f7f4;
  min-width: 360px;
}

/*Убрать полосу прокрутки для всей страницы*/
::-webkit-scrollbar {
  width: 0;
}

.body__header {
  padding: 0 57px;

  @include mobile {
    padding: 0 20px;
  }
}

.header {
  @include flex(column, center, null);
  height: $header-height;

  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: top 1s;

  @include desktop {
    background-image: url("../images/header_section/header-background.jpg");
  }
  @include tablet {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 39.9%
      ),
      linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../images/header_section/header-background-small.jpg);
  }
  @include mobile {
    height: $header_mobile-height;
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 39.9%
      ),
      linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../images/header_section/header-background-small.jpg);
  }

  &__space {
    display: none;
    height: $header__space-height;
    margin-bottom: 119px;

    @include mobile {
      margin-bottom: 52px;
    }
  }
  &__top {
    @include flex(null, null, center);
    width: 100%;
    top: -88px;
    transition: top 1s;
  }
  &__nav {
    margin-bottom: 119px;
  }
  &__title {
    width: $header__title-width;
    margin-bottom: 50px;

    @include font(96px, 700, 109%, 0.02em);
    text-align: center;
    @include mobile {
      width: $header__title_mobile-width;
      margin-bottom: 40px;
      @include font(34px, null, 112%, null);
    }
  }
  &__text {
    margin-bottom: 50px;
    @include font(20px, 400, $primarylineheight, null);
    text-align: center;
    width: 562px;

    @include tablet {
      width: $header__text_tablet-width;
    }
    @include mobile {
      width: $header__text_mobile-width;
      margin-bottom: 40px;
      @include font(16px, 400, $primarylineheight, null);
    }
  }
  &__button {
    padding: 5px 20px;
    border-radius: 10px;

    @include font(17px, 400, $primarylineheight, -0.01em);
    background-color: white;
    color: #1b1f2b;

    @include mobile {
      font-size: 16px;
    }

    &:hover {
      background-color: $linkactiveclr;
      color: #ffffff;
      transition: all 0.3s ease;
    }
    &:active {
      background-color: #f8e6be;
    }
  }
}

.navigation {
  @include flex(null, center, space-between);

  width: 100%;
  height: $navigation-height;
  @include font(20px, 400, $primarylineheight, null);

  @include desktop {
    max-width: 1168px;
  }
  @include tablet {
    max-width: 910px;
  }
  @include mobile {
    margin-bottom: 52px;
    font-size: 16px;
  }

  &__logo {
    width: auto;

    @include mobile {
      width: $navigation__logo_mobile-width;
    }
  }
  &__list {
    display: flex;

    @include desktop {
      gap: 50px;
    }
    @include tablet {
      gap: 30px;
    }
    @include mobile {
      display: none;
    }
  }
  &__link {
    color: white;
  }
  &__phone {
    color: white;
  }
}

//Скрытое меню
.header__top_show {
  position: fixed;
  top: 0;
  background: rgba(243, 239, 232, 0.6);
  backdrop-filter: blur(27px);
  z-index: 100;

  .header__nav {
    margin-bottom: 0;
    color: #1b1f2b;

    @include mobile {
      padding: 0 20px;
    }
  }
  .navigation__link {
    color: #1b1f2b;
  }
  .navigation__link:hover {
    text-decoration-color: currentColor;
  }
  .navigation__logo {
    filter: invert(1);
  }
  .navigation__phone {
    color: #1b1f2b;
  }
}
//-------------------

.link {
  text-decoration: underline 1px;
  text-underline-offset: 6px;
  text-decoration-color: transparent;

  &:hover {
    text-decoration-color: currentColor;
    transition: all 0.3s ease-out;
  }
}

.title {
  color: #1b1f2b;
  @include font(59px, 700, 124%, null);
  text-align: center;

  @include mobile {
    @include font(34px, null, 112%, 0.02em);
  }
}

.body__tours {
  padding-top: 135px;
  @include mobile {
    padding: 75px 21px 0;
  }
}

.tours {
  @include flex(column, center, null);

  &__title {
    margin-bottom: 35px;

    @include mobile {
      margin-bottom: 30px;
    }
  }
  &__list {
    @include flex(null, null, center);
    flex-wrap: wrap;

    @include desktop {
      width: $tours__list-width;
      gap: 30px;
    }
    @include tablet {
      width: $tours__list_tablet-width;
      gap: 18px;
    }
    @include mobile {
      width: $tours__list_mobile-width;
      gap: 18px;
    }
  }
}

.tours-menu {
  @include flex(null, null, center);
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 106px;

  @include mobile {
    margin-bottom: 50px;
    gap: 10px;
  }

  &__link {
    @include font(23px, 700, 122%, null);
    color: #1b1f2b;

    border: none;
    outline: none;
    background: transparent;

    @include mobile {
      @include font(16px, null, $primarylineheight, null);
    }

    &:active {
      text-decoration-color: currentColor;
      transition: all 0.3s ease-out;
      color: $linkactiveclr;
    }
    &_active {
      text-decoration: underline 1px;
      text-underline-offset: 6px;
      color: $linkactiveclr;
    }
  }
}

.tours-card {
  position: relative;
  width: $tours-card-width;
  height: $tours-card-height;

  @include tablet {
    width: $tours-card_tablet-width;
  }
  @include mobile {
    width: $tours-card_mobile-width;
    height: $tours-card_mobile-height;
  }

  &:hover &__picture {
    transform: scale(1.2);
  }
  &__picture {
    transition: all 0.3s ease;
    width: 100%;
  }
  &__pictureblock {
    &::after {
      background: linear-gradient(
        360deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.06) 48.44%,
        rgba(0, 0, 0, 0.5) 100%
      );
      pointer-events: none;
    }
  }
  &__info {
    @include flex(column, null, start);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #ffffff;

    padding: 50px;
    @include mobile {
      padding: 25px;
    }
  }
  &__name {
    @include font(35px, 500, 122%, null);

    @include mobile {
      @include font(23px, 700, 120%, 0.04em);
    }
  }
  &__price {
    @include font(17px, 400, $primarylineheight, -0.01em);
    margin-top: 16px;

    @include mobile {
      font-size: 16px;
      margin-top: 13px;
    }
  }
  &__more {
    display: flex;
    gap: 16px;
    @include font(23px, 700, 122%, null);
    margin-top: auto;
    align-self: flex-start;

    @include mobile {
      @include font(16px, null, $primarylineheight, null);
    }

    .tours-card:hover & {
      background-color: $linkhoverclr;
      border-radius: 50px;
      padding: 7px 20px;
      margin: auto 0 -7px -20px;
      transition: background-color 0.3s ease;
    }
    .tours-card:active & {
      background-color: $linkactiveclr;
      border-radius: 50px;
      padding: 7px 20px;
      margin: auto 0 -7px -20px;
    }
  }
}

.pictureblock {
  @include flex(null, center, center);
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  border-radius: 50px;
  @include mobile {
    border-radius: 20px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    );
    border-radius: 50px;

    @include mobile {
      border-radius: 20px;
    }
    pointer-events: none;
  }
}

.body__form {
  padding: 135px 53px 0;

  @include mobile {
    padding: 75px 21px 0;
  }
}

.form {
  @include flex(column, center, null);

  &__title {
    margin-bottom: 30px;

    @include mobile {
      margin-bottom: 20px;
    }
  }
}

.stories__title {
  margin-bottom: 30px;

  @include mobile {
    margin-bottom: 20px;
  }
}

.feedback__title {
  margin-bottom: 30px;

  @include mobile {
    margin-bottom: 20px;
  }
}

.photos__title {
  margin-bottom: 30px;

  @include mobile {
    margin-bottom: 20px;
  }
}

.desc {
  width: $desc-width;
  margin-bottom: 100px;

  color: #a6a6a6;
  @include font(20px, 400, $primarylineheight, null);
  text-align: center;

  @include mobile {
    width: $desc_mobile-width;
    font-size: 16px;
    margin-bottom: 50px;
  }
}

.desc_form {
  @include mobile {
    margin-bottom: 40px;
  }
}

.form__fields {
  display: grid;
  background-color: #ffffff;
  max-width: 1170px;
  width: 100%;

  @include desktop {
    grid-template-columns: 1fr 1fr;
    gap: 33px 30px;
    padding: 70px;
    border-radius: 50px;
  }
  @include tablet {
    grid-template-columns: 1fr 1fr;
    gap: 33px 20px;
    padding: 60px;
    border-radius: 50px;
  }
  @include mobile {
    grid-template-columns: 1fr;
    padding: 20px 20px 40px;
    gap: 30px;
    border-radius: 30px;
  }
}

.field {
  &_big {
    @include desktop {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    @include tablet {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
  &__agreedwrap {
    display: flex;
  }
  &__label {
    display: flex;

    color: #1b1f2b;
    @include font(20px, 400, $primarylineheight, null);

    @include mobile {
      font-size: 16px;
    }
  }
  &__input {
    box-sizing: border-box;
    width: 100%;
    height: $field__input-height;
    padding: 19px;
    background: #f9f7f4;
    border: 1px solid #f4f0e9;
    border-radius: 10px;

    @include font(20px, 400, $primarylineheight, null);
    margin-top: 8px;

    @include mobile {
      font-size: 16px;
      padding: 9px;
      height: $field__input_mobile-height;
    }

    &:hover {
      background-color: #f4f0e9;
    }
    &:focus {
      background-color: #f4f0e9;
      border: 1px solid #a6a6a6;
    }
    &::placeholder {
      color: #a6a6a6;
      @include font(20px, 400, $primarylineheight, null);
      @include mobile {
        font-size: 16px;
      }
    }
    &_where {
      color: #a6a6a6;
      appearance: none;
      background-image: url("../images/svg_elements/arrow_down.svg");
      background-repeat: no-repeat;
      background-position: right 24px top 50%;

      @include mobile {
        padding: 10.5px 9px;
        height: $field__input_where_mobile-height;
        background-position: right 14px top 50%;
      }
    }
    &_area {
      height: $field__input_area-height;
      resize: none;
      vertical-align: top;

      @include mobile {
        height: $field__input_area_mobile-height;
      }
    }
  }
  &__option {
    color: black;
  }
  &__radio {
    display: flex;
    gap: 31px;

    margin-top: 8px;
  }
  &__radiocircle {
    width: $field__radiocircle-size;
    height: $field__radiocircle-size;
    vertical-align: top;
    margin: 0 11px 0 0;

    @include mobile {
      width: $field__radiocircle_mobile-size;
      height: $field__radiocircle_mobile-size;
    }
  }
  &__license {
    text-decoration: underline 1px;
    text-decoration-color: transparent;
    color: #1b1f2b;

    &:hover {
      text-decoration-color: currentColor;
      color: #1b1f2b;
      transition: all 0.3s ease-out;
    }
    &:active {
      color: #286562;
      text-decoration-color: currentColor;
      transition: all 0.3s ease-out;
    }
  }
  &__agreed {
    color: #a6a6a6;
    @include font(null, 400, $primarylineheight, null);

    @include desktop {
      @include font(17px, null, null, -0.01em);
    }
    @include tablet {
      @include font(17px, null, null, -0.01em);
    }
    @include mobile {
      font-size: 16px;
    }
  }
  &__checkbox {
    width: $field__checkbox-size;
    height: $field__checkbox-size;
    flex-shrink: 0;
    vertical-align: top;
    margin: 0;

    @include desktop {
      margin-right: 19px;
    }
    @include tablet {
      margin-right: 11px;
    }
    @include mobile {
      margin-right: 10px;
      width: $field__checkbox_mobile-size;
      height: $field__checkbox_mobile-size;
    }
  }
}

//Сброс цвета в поле выбора направления
#direction {
  @include hasCheckedOption() {
    color: #1b1f2b;
  }
}
//---------------------------------------

//custom radio
.field__radiocircle {
  position: absolute;
  z-index: -1;
  opacity: 0;

  & + label {
    display: inline-flex;
    align-items: center;
    user-select: none;

    margin-right: 11px;

    @include mobile {
      margin-right: 10px;
    }
  }
  & + label::before {
    content: "";
    width: $field__radiocircle-size;
    height: $field__radiocircle-size;
    background-image: url("../images/svg_elements/radio.svg");
    background-repeat: no-repeat;
    background-position: center center;

    @include mobile {
      width: $field__radiocircle_mobile-size;
      height: $field__radiocircle_mobile-size;
      background-size: $field__radiocircle_mobile-size
        $field__radiocircle_mobile-size;
    }
  }
  &:checked + label::before {
    background-size: $field__radiocircle-size $field__radiocircle-size, auto;
    background-position: center center, center center;
    background-image: url("../images/svg_elements/radio.svg"),
      url("../images/svg_elements/circle.svg");

    @include mobile {
      background-image: url("../images/svg_elements/radio.svg"),
        url("../images/svg_elements/circle.svg");
      background-size: $field__radiocircle_mobile-size
          $field__radiocircle_mobile-size,
        9.23px 9.23px;
    }
  }
}
//----------------------------------------------------------

//custom checkbox
.field__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;

  & + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin-right: 19px;

    @include tablet {
      margin-right: 11px;
    }
    @include mobile {
      margin-right: 10px;
    }
  }
  & + label::before {
    content: "";
    width: $field__checkbox-size;
    height: $field__checkbox-size;
    background-image: url("../images/svg_elements/checkbox.svg");
    background-repeat: no-repeat;
    background-position: center center;

    @include mobile {
      width: $field__checkbox_mobile-size;
      height: $field__checkbox_mobile-size;
      background-size: $field__checkbox_mobile-size $field__checkbox_mobile-size;
    }
  }
  &:checked + label::before {
    background-size: $field__checkbox-size $field__checkbox-size, auto;
    background-position: center center, center center;
    background-image: url("../images/svg_elements/checkbox.svg"),
      url("../images/svg_elements/checked.svg");

    @include mobile {
      background-image: url("../images/svg_elements/checkbox.svg"),
        url("../images/svg_elements/checked_small.svg");
      background-size: $field__checkbox_mobile-size $field__checkbox_mobile-size,
        auto;
    }
  }
}
//----------------------------------------------------------

.form__submit-section {
  @include desktop {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  @include tablet {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  display: flex;
  gap: 30px;

  @include mobile {
    gap: 10px;
  }
}

.form__button {
  padding: 15px 0;
  border-radius: 10px;
  @include font(20px, 400, $primarylineheight, null);
  border: none;
  outline: none;

  @include mobile {
    padding: 12px 0;
    font-size: 16px;
  }

  &_heavy {
    padding: 15px 70.5px;
    background-color: #286562;
    color: #ffffff;

    @include mobile {
      padding: 12px 29.5px;
    }
    &:hover {
      background-color: #3b7e7b;
    }
    &:active {
      background-color: #627f7e;
    }
  }
  &_light {
    padding: 15px 72.5px;
    background-color: #e0f0e5;
    color: #286562;

    @include mobile {
      padding: 12px 31px;
    }
    &:hover {
      background-color: #f1f3f2;
    }
    &:active {
      background-color: #d9dfdb;
    }
  }
}

.body__feedback {
  padding-top: 135px;

  @include mobile {
    padding: 75px 21px 0;
  }
}

.feedback {
  @include flex(column, center, null);

  &__list {
    display: flex;

    @include desktop {
      width: $feedback__list_desktop-width;
      gap: 30px;
    }
    @include tablet {
      width: $feedback__list_tablet-width;
      gap: 18px;
    }
    @include mobile {
      flex-wrap: wrap;
      gap: 18px;
      justify-content: center;
    }
  }
}

.feedback-element {
  display: flex;
  flex-basis: 50%;
  justify-content: space-between;
  flex-direction: column;
  background: #f4f0e9;

  padding: 40px;
  border-radius: 50px;
  gap: 70px;

  @include mobile {
    padding: 20px;
    border-radius: 20px;
    gap: 40px;
    max-width: 318px;
    min-width: 318px;
  }

  &__text {
    font-style: normal;
    @include font(23px, 700, 122%, null);
    color: #1b1f2b;

    @include mobile {
      @include font(16px, null, $primarylineheight, null);
    }
  }
  &__foot {
    display: flex;
    justify-content: space-between;

    @include mobile {
      align-items: end;
    }
  }
  &__sub {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__author {
    @include font(35px, 500, 122%, null);
    color: #1b1f2b;

    @include mobile {
      @include font(23px, 700, 120%, 0.04em);
    }
  }
  &__tour {
    @include font(17px, 400, $primarylineheight, -0.01em);
    color: #a6a6a6;

    @include mobile {
      font-size: 16px;
    }
  }
  &__picture {
    border-radius: 100px;
  }
}

.body__photos {
  padding: 135px 29px 0;

  @include tablet {
    padding: 135px 20px 0;
  }

  @include mobile {
    padding: 75px 21px 0;
  }
}

.photos {
  @include flex(column, center, null);
}

.photos__list {
  display: grid;

  gap: 30px;
  margin-bottom: 30px;
  max-width: 1860px;

  @include tablet {
    gap: 20px;
  }
  @include mobile {
    gap: 10px;
    margin-bottom: 18px;
    max-width: 318px;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &_gap {
    @include mobile {
      gap: 18px;
    }
  }
  &_small {
    grid-template-columns: 1fr 1fr 1fr 1fr;

    @include tablet {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include mobile {
      grid-template-columns: 1fr 1fr;
    }
  }
  &_big {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    @include tablet {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @include mobile {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.photos__card {
  object-fit: cover;
  max-width: 100%;

  height: $photos-card-height;
  border-radius: 50px;

  @include mobile {
    height: $photos-card_mobile-height;
    border-radius: 20px;
  }
  &_hidden-m {
    @include tablet {
      display: none;
    }
    @include mobile {
      display: none;
    }
  }
  &_hidden-s {
    @include mobile {
      display: none;
    }
  }
}

.body__stories {
  padding: 135px 29px 0;

  @include tablet {
    padding: 135px 20px 0;
  }

  @include mobile {
    padding: 75px 21px 0;
  }
}

.stories {
  @include flex(column, center, null);

  &__list {
    @include flex(column, center, null);

    @include desktop {
      width: $stories__list-width;
      gap: 50px;
    }
    @include tablet {
      width: $stories__list_tablet-width;
      gap: 50px;
    }
    @include mobile {
      min-width: $stories__list_mobile-width;
      gap: 20px;
    }
  }
}

.stories-card {
  display: block;
  position: relative;
  width: $stories-card-width;
  height: $stories-card-height;

  @include tablet {
    width: $stories-card_tablet-width;
  }
  @include mobile {
    width: $stories-card_mobile-width;
    height: $stories-card_mobile-height;
  }
  &__pictureblock {
    &::after {
      background: linear-gradient(
        270deg,
        rgba(0, 0, 0, 0) 0.01%,
        rgba(0, 0, 0, 0.2) 100%
      );
    }
  }
  &__picture {
    height: 100%;
    transition: all 0.3s ease;
    object-fit: cover;
    .stories-card:hover & {
      transform: scale(1.2);
    }
  }
  &__desc {
    margin-top: 37px;

    @include mobile {
      margin-top: 20px;
    }
  }
  &__info {
    @include flex(column, null, start);
    pointer-events: none;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #ffffff;

    padding: 60px;
    @include mobile {
      padding: 30px;
    }
  }
  &__cardfooter {
    margin-top: auto;
  }
  &__name {
    @include font(35px, 500, 122%, null);

    @include mobile {
      width: $stories-card__name-width;
      @include font(23px, 700, 120%, 0.04em);
    }
  }
}

.card-desc {
  width: $card-desc;
  @include font(20px, 400, $primarylineheight, null);

  @include mobile {
    width: $card-desc_mobile;
    font-size: 16px;
  }
  &__ul {
    list-style-type: disc;
    list-style-position: inside;
    margin: -3px 0 0 14px;
    line-height: 128%;

    @include mobile {
      margin: 0 0 0 9px;
      line-height: $primarylineheight;
    }
  }
  &__li {
    position: relative;

    &::marker {
      font-size: 0.7em;
    }
  }
  &__li-p {
    position: absolute;
    top: 3px;
    left: 16px;
  }
}

.cardfooter {
  @include flex(null, baseline, space-between);

  &__arrow {
    width: $cardfootter__arrow-width;
  }
  &__socials {
    pointer-events: all;
    display: flex;
    gap: 35px;

    @include mobile {
      display: none;
    }
  }
  &__link {
    @include font(20px, 400, $primarylineheight, null);
    color: #ffffff;

    &:active {
      color: $linkactiveclr;
      text-decoration-color: currentColor;
      transition: all 0.3s ease-out;
    }
  }
  &__more {
    display: flex;
    gap: 16px;
    @include font(23px, 700, 122%, null);
    color: #ffffff;

    @include mobile {
      @include font(16px, null, $primarylineheight, null);
    }
  }
}

//Фон для "Подробнее" при наведении на карточку с туром
.cardfooter__more {
  .stories-card__pictureblock:hover ~ .stories-card__info & {
    background-color: $linkhoverclr;
    border-radius: 50px;
    padding: 7px 20px;
    margin: 0 0 -7px -20px;
    transition: background-color 0.3s ease;
  }
  .stories-card__pictureblock:active ~ .stories-card__info & {
    background-color: $linkactiveclr;
    border-radius: 50px;
    padding: 7px 20px;
    margin: 0 0 -7px -20px;
  }
}
//-------------------------------------------------------------

.body__ending {
  padding: 135px 29px 0;

  @include tablet {
    padding: 135px 20px 0;
  }
  @include mobile {
    padding: 75px 21px 0;
  }
}

.ending {
  @include flex(null, center, center);
  gap: 30px;

  @include mobile {
    flex-direction: column;
  }
}

.ending__pictureblock {
  @include flex(null, center, center);
  overflow: hidden;

  border-radius: 50px;
  @include mobile {
    border-radius: 20px;
    width: $ending__pictureblock_mobile-width;
    height: $ending__pictureblock_mobile-height;
  }
}

.ending__picture {
  height: 100%;
  object-fit: cover;
}

.ending__block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: $ending__block-width;

  @include mobile {
    align-items: center;
  }
}

.ending__header {
  @include font(35px, 500, 122%, null);
  color: #1b1f2b;

  @include mobile {
    width: $ending__header_mobile-width;
    text-align: center;
    @include font(23px, 700, 120%, 0.04em);
  }
}

.ending__text {
  @include font(20px, 400, $primarylineheight, null);
  color: #a6a6a6;

  @include mobile {
    text-align: center;
    font-size: 16px;
  }
}

.ending__mail {
  text-decoration: underline 1px;
  text-decoration-color: transparent;
  color: black;

  &:hover {
    transition: all 0.3s ease-out;
    text-decoration-color: currentColor;
  }
  &:active {
    color: #286562;
    transition: all 0.3s ease-out;
    text-decoration-color: currentColor;
  }
}

.body__footer {
  margin-top: 135px;
  padding: 30px 53px;

  @include mobile {
    padding: 21px 0;
    margin-top: 75px;
  }
}

.footer {
  background-color: #f4f0e9;
}

.footer__block {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 1168px;

  @include mobile {
    flex-direction: column;
    align-items: center;
    gap: 7px;
  }
}

.footer__text {
  @include font(20px, 400, $primarylineheight, null);
  color: #a6a6a6;

  @include mobile {
    font-size: 16px;
  }
}

.footer__social {
  display: flex;
  gap: 25px;

  @include mobile {
    gap: 15px;
  }
}

.footer__social-elem {
  display: flex;
  align-items: baseline;
  gap: 12px;

  @include mobile {
    gap: 6.54px;
    align-items: center;
  }
  &_fb {
    gap: 15px;

    @include mobile {
      gap: 8.85px;
    }
  }
}

.footer__social-ico {
  &_vk {
    margin-left: 4px;
    width: $footer__social-ico_vk-width;
    height: $footer__social-ico_vk-height;

    @include mobile {
      width: $footer__social-ico_vk_mobile-width;
      height: $footer__social-ico_vk_mobile-height;
    }
  }
  &_fb {
    margin-left: 13px;
    width: $footer__social-ico_fb-width;
    height: $footer__social-ico_fb-height;

    @include mobile {
      width: $footer__social-ico_fb_mobile-width;
      height: $footer__social-ico_fb_mobile-height;
    }
  }
  &_inst {
    margin-left: 10px;
    width: $footer__social-ico_inst-width;
    height: $footer__social-ico_inst-height;

    @include mobile {
      width: $footer__social-ico_inst_mobile-width;
      height: $footer__social-ico_inst_mobile-height;
    }
  }
}

.footer__social-name {
  color: black;
  @include font(20px, 400, $primarylineheight, null);

  @include mobile {
    font-size: 16px;
  }
}
