@import "reset";
@import "media";
@import "vars";

@mixin padding($top, $right, $bottom, $left) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}
@mixin flex($flexdir, $align, $justify) {
  display: flex;
  flex-direction: $flexdir;
  align-items: $align;
  justify-content: $justify;
}

html {
  scroll-behavior: smooth;
}

.body {
  font-family: "Roboto";
  font-style: normal;
  color: white;
  background-color: #f9f7f4;
  min-width: 360px;
}

/*Убрать полосу прокрутки для всей страницы*/
::-webkit-scrollbar {
  width: 0;
}

.body__header {
  @include padding(0, 57px, 0, 57px);

  @include mobile {
    @include padding(0, 20px, 0, 20px);
  }
}

.header {
  @include flex(column, center, unset);
  height: 831px;

  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: top 1s;

  @include desktop {
    background-image: url("../images/header_section/header-background.jpg");
  }
  @include tablet {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 39.9%
      ),
      linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../images/header_section/header-background-small.jpg);
  }
  @include mobile {
    height: 488px;
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 39.9%
      ),
      linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../images/header_section/header-background-small.jpg);
  }

  &__space {
    display: none;
    height: 88px;
    margin-bottom: 119px;

    @include mobile {
      margin-bottom: 52px;
    }
  }
  &__top {
    @include flex(unset, unset, center);
    width: 100%;
    top: -88px;
    transition: top 1s;
  }
  &__nav {
    margin-bottom: 119px;
  }
  &__title {
    width: 768px;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 96px;
    line-height: 109%;
    text-align: center;
    letter-spacing: 0.02em;

    @include mobile {
      width: 360px;
      margin-bottom: 40px;
      font-size: 34px;
      line-height: 112%;
    }
  }
  &__text {
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 20px;
    line-height: $primarylineheight;
    text-align: center;

    @include desktop {
      width: 562px;
    }
    @include tablet {
      width: 442px;
    }
    @include mobile {
      width: 310px;
      margin-bottom: 40px;
      font-weight: 400;
      font-size: 16px;
      line-height: $primarylineheight;
    }
  }
  &__button {
    padding: 5px 20px;
    border-radius: 10px;

    font-weight: 400;
    font-size: 17px;
    line-height: $primarylineheight;
    letter-spacing: -0.01em;
    background-color: white;
    color: #1b1f2b;

    @include mobile {
      font-size: 16px;
    }

    &:hover {
      background-color: $linkactiveclr;
      color: #ffffff;
      transition: all 0.3s ease;
    }
    &:active {
      background-color: #f8e6be;
    }
  }
}

.navigation {
  @include flex(unset, center, space-between);

  width: 100%;
  height: 88px;
  font-weight: 400;
  font-size: 20px;
  line-height: $primarylineheight;

  @include desktop {
    max-width: 1168px;
  }
  @include tablet {
    max-width: 910px;
  }
  @include mobile {
    margin-bottom: 52px;
    font-size: 16px;
  }

  &__logo {
    width: auto;

    @include mobile {
      width: 133px;
    }
  }
  &__list {
    display: flex;

    @include desktop {
      gap: 50px;
    }
    @include tablet {
      gap: 30px;
    }
    @include mobile {
      display: none;
    }
  }
  &__link {
    color: white;
  }
  &__phone {
    color: white;
  }
}

//Скрытое меню
.header__top_show {
  position: fixed;
  top: 0;
  background: rgba(243, 239, 232, 0.6);
  backdrop-filter: blur(27px);
  z-index: 100;

  .header__nav {
    margin-bottom: 0;
    color: #1b1f2b;

    @include mobile {
      padding: 0 20px;
    }
  }
  .navigation__link {
    color: #1b1f2b;
  }
  .navigation__link:hover {
    text-decoration-color: currentColor;
  }
  .navigation__logo {
    filter: invert(1);
  }
  .navigation__phone {
    color: #1b1f2b;
  }
}
//-------------------

.link {
  text-decoration: underline 1px;
  text-underline-offset: 6px;
  text-decoration-color: transparent;

  &:hover {
    text-decoration-color: currentColor;
    transition: all 0.3s ease-out;
  }
}

.title {
  color: #1b1f2b;
  font-weight: 700;
  font-size: 59px;
  line-height: 124%;
  text-align: center;

  @include mobile {
    letter-spacing: 0.02em;
    font-size: 34px;
    line-height: 112%;
  }
}

.body__tours {
  padding-top: 135px;
  @include mobile {
    @include padding(75px, 21px, 0, 21px);
  }
}

.tours {
  @include flex(column, center, unset);

  &__title {
    margin-bottom: 35px;

    @include mobile {
      margin-bottom: 30px;
    }
  }
  &__list {
    @include flex(unset, unset, center);
    flex-wrap: wrap;

    @include desktop {
      width: 1170px;
      gap: 30px;
    }
    @include tablet {
      width: 918px;
      gap: 18px;
    }
    @include mobile {
      min-width: 318px;
      gap: 18px;
    }
  }
}

.tours-menu {
  @include flex(unset, unset, center);
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 106px;

  @include mobile {
    margin-bottom: 50px;
    gap: 10px;
  }

  &__link {
    font-weight: 700;
    font-size: 23px;
    line-height: 122%;
    color: #1b1f2b;

    border: none;
    outline: none;
    background: transparent;

    @include mobile {
      font-size: 16px;
      line-height: $primarylineheight;
    }

    &:active {
      text-decoration-color: currentColor;
      transition: all 0.3s ease-out;
      color: $linkactiveclr;
    }
    &_active {
      text-decoration: underline 1px;
      text-underline-offset: 6px;
      color: $linkactiveclr;
    }
  }
}

.tours-card {
  position: relative;
  width: 370px;

  @include tablet {
    width: 450px;
    height: 531px;
  }
  @include mobile {
    width: 318px;
    height: 318px;
  }

  &:hover &__picture {
    transform: scale(1.2);
  }
  &__picture {
    transition: all 0.3s ease;
    width: 100%;
  }
  &__pictureblock {
    &::after {
      background: linear-gradient(
        360deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.06) 48.44%,
        rgba(0, 0, 0, 0.5) 100%
      );
      pointer-events: none;
    }
  }
  &__info {
    @include flex(column, unset, start);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #ffffff;

    padding: 50px;
    @include mobile {
      padding: 25px;
    }
  }
  &__name {
    font-weight: 500;
    font-size: 35px;
    line-height: 122%;

    @include mobile {
      font-weight: 700;
      font-size: 23px;
      line-height: 120%;
      letter-spacing: 0.04em;
    }
  }
  &__price {
    font-weight: 400;
    font-size: 17px;
    line-height: $primarylineheight;
    letter-spacing: -0.01em;
    margin-top: 16px;

    @include mobile {
      font-size: 16px;
      margin-top: 13px;
    }
  }
  &__more {
    display: flex;
    gap: 16px;
    font-weight: 700;
    font-size: 23px;
    line-height: 122%;
    margin-top: auto;
    align-self: flex-start;

    @include mobile {
      font-size: 16px;
      line-height: $primarylineheight;
    }

    .tours-card:hover & {
      background-color: $linkhoverclr;
      border-radius: 50px;
      padding: 7px 20px;
      margin-left: -20px;
      margin-bottom: -7px;
      transition: background-color 0.3s ease;
    }
    .tours-card:active & {
      background-color: $linkactiveclr;
      border-radius: 50px;
      padding: 7px 20px;
      margin-left: -20px;
      margin-bottom: -7px;
    }
  }
}

.pictureblock {
  @include flex(unset, center, center);
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  border-radius: 50px;
  @include mobile {
    border-radius: 20px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    );
    border-radius: 50px;

    @include mobile {
      border-radius: 20px;
    }
    pointer-events: none;
  }
}

.body__form {
  @include padding(135px, 53px, 0, 53px);

  @include mobile {
    @include padding(75px, 21px, 0, 21px);
  }
}

.form {
  @include flex(column, center, unset);

  &__title {
    margin-bottom: 30px;

    @include mobile {
      margin-bottom: 20px;
    }
  }
}

.stories__title {
  margin-bottom: 30px;

  @include mobile {
    margin-bottom: 20px;
  }
}

.feedback__title {
  margin-bottom: 30px;

  @include mobile {
    margin-bottom: 20px;
  }
}

.photos__title {
  margin-bottom: 30px;

  @include mobile {
    margin-bottom: 20px;
  }
}

.desc {
  width: 418px;
  margin-bottom: 100px;

  color: #a6a6a6;
  font-weight: 400;
  font-size: 20px;
  line-height: $primarylineheight;
  text-align: center;

  @include mobile {
    width: 318px;
    font-size: 16px;
    margin-bottom: 50px;
  }
}

.desc_form {
  @include mobile {
    margin-bottom: 40px;
  }
}

.form__fields {
  display: grid;
  background-color: #ffffff;
  max-width: 1170px;
  width: 100%;

  @include desktop {
    grid-template-columns: 1fr 1fr;
    gap: 33px 30px;
    padding: 70px;
    border-radius: 50px;
  }
  @include tablet {
    grid-template-columns: 1fr 1fr;
    gap: 33px 20px;
    padding: 60px;
    border-radius: 50px;
  }
  @include mobile {
    grid-template-columns: 1fr;
    padding: 20px;
    padding-bottom: 40px;
    gap: 30px;
    border-radius: 30px;
  }
}

.field {
  &_big {
    @include desktop {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    @include tablet {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
  &__agreedwrap {
    display: flex;
  }
  &__label {
    display: flex;

    color: #1b1f2b;
    font-weight: 400;
    font-size: 20px;
    line-height: $primarylineheight;

    @include mobile {
      font-size: 16px;
    }
  }
  &__input {
    box-sizing: border-box;
    width: 100%;
    height: 68px;
    padding: 19px;
    background: #f9f7f4;
    border: 1px solid #f4f0e9;
    border-radius: 10px;

    font-weight: 400;
    font-size: 20px;
    line-height: $primarylineheight;
    margin-top: 8px;

    @include mobile {
      font-size: 16px;
      padding: 9px;
      height: 43px;
    }

    &:hover {
      background-color: #f4f0e9;
    }
    &:focus {
      background-color: #f4f0e9;
      border: 1px solid #a6a6a6;
    }
    &::placeholder {
      color: #a6a6a6 !important;
      font-size: 20px !important;
      font-weight: 400 !important;
      line-height: $primarylineheight !important;
      @include mobile {
        font-size: 16px !important;
      }
    }
    &_where {
      color: #a6a6a6;
      appearance: none;
      background-image: url("../images/svg_elements/arrow_down.svg");
      background-repeat: no-repeat;
      background-position: right 24px top 50%;

      @include mobile {
        padding: 10.5px 9px;
        height: 46px;
        background-position: right 14px top 50%;
      }
    }
    &_area {
      height: 152px;
      resize: none;
      vertical-align: top;

      @include mobile {
        height: 132px;
      }
    }
  }
  &__option {
    color: black;
  }
  &__radio {
    display: flex;
    gap: 31px;

    margin-top: 8px;
  }
  &__radiocircle {
    width: 26px;
    height: 26px;
    vertical-align: top;
    margin: 0;
    margin-right: 11px;

    @include mobile {
      width: 20px;
      height: 20px;
    }
  }
  &__license {
    text-decoration: underline 1px;
    text-decoration-color: transparent;
    color: #1b1f2b;

    &:hover {
      text-decoration-color: currentColor;
      color: #1b1f2b;
      transition: all 0.3s ease-out;
    }
    &:active {
      color: #286562;
      text-decoration-color: currentColor;
      transition: all 0.3s ease-out;
    }
  }
  &__agreed {
    color: #a6a6a6;
    font-weight: 400;
    line-height: $primarylineheight;

    @include desktop {
      letter-spacing: -0.01em;
      font-size: 17px;
    }
    @include tablet {
      letter-spacing: -0.01em;
      font-size: 17px;
    }
    @include mobile {
      font-size: 16px;
    }
  }
  &__checkbox {
    width: 26px;
    height: 26px;
    flex-shrink: 0;
    vertical-align: top;
    margin: 0;

    @include desktop {
      margin-right: 19px;
    }
    @include tablet {
      margin-right: 11px;
    }
    @include mobile {
      margin-right: 10px;
      width: 20px;
      height: 20px;
    }
  }
}

//Сброс цвета в поле выбора направления
#direction:has(.field__option:checked) {
  color: #1b1f2b;
}
//---------------------------------------

//custom radio
.field__radiocircle {
  position: absolute;
  z-index: -1;
  opacity: 0;

  & + label {
    display: inline-flex;
    align-items: center;
    user-select: none;

    margin-right: 11px;

    @include mobile {
      margin-right: 10px;
    }
  }
  & + label::before {
    content: "";
    width: 26px;
    height: 26px;
    background-image: url("../images/svg_elements/radio.svg");
    background-repeat: no-repeat;
    background-position: center center;

    @include mobile {
      width: 20px;
      height: 20px;
      background-size: 20px 20px;
    }
  }
  &:checked + label::before {
    background-size: 26px 26px, auto;
    background-position: center center, center center;
    background-image: url("../images/svg_elements/radio.svg"),
      url("../images/svg_elements/circle.svg");

    @include mobile {
      background-image: url("../images/svg_elements/radio.svg"),
        url("../images/svg_elements/circle.svg");
      background-size: 20px 20px, 9.23px 9.23px;
    }
  }
}
//----------------------------------------------------------

//custom checkbox
.field__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;

  & + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin-right: 19px;

    @include tablet {
      margin-right: 11px;
    }
    @include mobile {
      margin-right: 10px;
    }
  }
  & + label::before {
    content: "";
    width: 26px;
    height: 26px;
    background-image: url("../images/svg_elements/checkbox.svg");
    background-repeat: no-repeat;
    background-position: center center;

    @include mobile {
      width: 20px;
      height: 20px;
      background-size: 20px 20px;
    }
  }
  &:checked + label::before {
    background-size: 26px 26px, auto;
    background-position: center center, center center;
    background-image: url("../images/svg_elements/checkbox.svg"),
      url("../images/svg_elements/checked.svg");

    @include mobile {
      background-image: url("../images/svg_elements/checkbox.svg"),
        url("../images/svg_elements/checked_small.svg");
      background-size: 20px 20px, auto;
    }
  }
}
//----------------------------------------------------------

.form__submit-section {
  @include desktop {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  @include tablet {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  display: flex;
  gap: 30px;

  @include mobile {
    gap: 10px;
  }
}

.form__button {
  padding: 15px 0;
  border-radius: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: $primarylineheight;
  border: none;
  outline: none;

  @include mobile {
    padding: 12px 0;
    font-size: 16px;
  }

  &_heavy {
    padding-right: 70.5px;
    padding-left: 70.5px;
    background-color: #286562;
    color: #ffffff;

    @include mobile {
      padding-right: 29.5px;
      padding-left: 29.5px;
    }
    &:hover {
      background-color: #3b7e7b;
    }
    &:active {
      background-color: #627f7e;
    }
  }
  &_light {
    padding-right: 72.5px;
    padding-left: 72.5px;
    background-color: #e0f0e5;
    color: #286562;

    @include mobile {
      padding-right: 31px;
      padding-left: 31px;
    }
    &:hover {
      background-color: #f1f3f2;
    }
    &:active {
      background-color: #d9dfdb;
    }
  }
}

.body__feedback {
  padding-top: 135px;

  @include mobile {
    @include padding(75px, 21px, 0, 21px);
  }
}

.feedback {
  @include flex(column, center, unset);

  &__list {
    display: flex;

    @include desktop {
      width: 1170px;
      gap: 30px;
    }
    @include tablet {
      width: 918px;
      gap: 18px;
    }
    @include mobile {
      flex-wrap: wrap;
      gap: 18px;
      justify-content: center;
    }
  }
}

.feedback-element {
  display: flex;
  flex-basis: 50%;
  justify-content: space-between;
  flex-direction: column;
  background: #f4f0e9;

  padding: 40px;
  border-radius: 50px;
  gap: 70px;

  @include mobile {
    padding: 20px;
    border-radius: 20px;
    gap: 40px;
    max-width: 318px;
    min-width: 318px;
  }

  &__text {
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 122%;
    color: #1b1f2b;

    @include mobile {
      font-size: 16px;
      line-height: $primarylineheight;
    }
  }
  &__foot {
    display: flex;
    justify-content: space-between;

    @include mobile {
      align-items: end;
    }
  }
  &__sub {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__author {
    font-weight: 500;
    font-size: 35px;
    line-height: 122%;
    color: #1b1f2b;

    @include mobile {
      font-weight: 700;
      font-size: 23px;
      line-height: 120%;
      letter-spacing: 0.04em;
    }
  }
  &__tour {
    font-weight: 400;
    font-size: 17px;
    line-height: $primarylineheight;
    letter-spacing: -0.01em;
    color: #a6a6a6;

    @include mobile {
      font-size: 16px;
    }
  }
  &__picture {
    border-radius: 100px;
  }
}

.body__photos {
  @include padding(135px, 29px, 0, 29px);

  @include tablet {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include mobile {
    @include padding(75px, 21px, 0, 21px);
  }
}

.photos {
  @include flex(column, center, unset);
}

.photos__list {
  display: grid;

  gap: 30px;
  margin-bottom: 30px;
  max-width: 1860px;

  @include tablet {
    gap: 20px;
  }
  @include mobile {
    gap: 10px;
    margin-bottom: 18px;
    max-width: 318px;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &_gap {
    @include mobile {
      gap: 18px;
    }
  }
  &_small {
    grid-template-columns: 1fr 1fr 1fr 1fr;

    @include tablet {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include mobile {
      grid-template-columns: 1fr 1fr;
    }
  }
  &_big {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    @include tablet {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @include mobile {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.photos__card {
  object-fit: cover;
  max-width: 100%;

  height: 301px;
  border-radius: 50px;

  @include mobile {
    height: 110px;
    border-radius: 20px;
  }
  &_hidden-m {
    @include tablet {
      display: none;
    }
    @include mobile {
      display: none;
    }
  }
  &_hidden-s {
    @include mobile {
      display: none;
    }
  }
}

.body__stories {
  @include padding(135px, 29px, 0, 29px);

  @include tablet {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include mobile {
    @include padding(75px, 21px, 0, 21px);
  }
}

.stories {
  @include flex(column, center, unset);

  &__list {
    @include flex(column, center, unset);

    @include desktop {
      width: 1170px;
      gap: 50px;
    }
    @include tablet {
      width: 918px;
      gap: 50px;
    }
    @include mobile {
      min-width: 318px;
      gap: 20px;
    }
  }
}

.stories-card {
  display: block;
  position: relative;
  width: 1170px;
  height: 567px;

  @include tablet {
    width: 918px;
  }
  @include mobile {
    width: 318px;
    height: 455px;
  }
  &__pictureblock {
    &::after {
      background: linear-gradient(
        270deg,
        rgba(0, 0, 0, 0) 0.01%,
        rgba(0, 0, 0, 0.2) 100%
      );
    }
  }
  &__picture {
    height: 100%;
    transition: all 0.3s ease;
    object-fit: cover;
    .stories-card:hover & {
      transform: scale(1.2);
    }
  }
  &__desc {
    margin-top: 37px;

    @include mobile {
      margin-top: 20px;
    }
  }
  &__info {
    @include flex(column, unset, start);
    pointer-events: none;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #ffffff;

    padding: 60px;
    @include mobile {
      padding: 30px;
    }
  }
  &__cardfooter {
    margin-top: auto;
  }
  &__name {
    font-weight: 500;
    font-size: 35px;
    line-height: 122%;

    @include mobile {
      width: 140px;
      font-weight: 700;
      font-size: 23px;
      line-height: 120%;
      letter-spacing: 0.04em;
    }
  }
}

.card-desc {
  width: 554px;
  font-weight: 400;
  font-size: 20px;
  line-height: $primarylineheight;

  @include mobile {
    width: 263px;
    font-size: 16px;
  }
  &__ul {
    list-style-type: disc !important;
    list-style-position: inside !important;
    margin-top: -3px;
    margin-left: 14px;
    line-height: 128%;

    @include mobile {
      margin-top: 0;
      margin-left: 9px;
      line-height: $primarylineheight;
    }
  }
  &__li {
    position: relative;

    &::marker {
      font-size: 0.7em;
    }
  }
  &__li-p {
    position: absolute;
    top: 3px;
    left: 16px;
  }
}

.cardfooter {
  @include flex(unset, baseline, space-between);

  &__arrow {
    width: 22px;
  }
  &__socials {
    pointer-events: all;
    display: flex;
    gap: 35px;

    @include mobile {
      display: none;
    }
  }
  &__link {
    font-weight: 400;
    font-size: 20px;
    line-height: $primarylineheight;
    color: #ffffff;

    &:active {
      color: $linkactiveclr;
      text-decoration-color: currentColor;
      transition: all 0.3s ease-out;
    }
  }
  &__more {
    display: flex;
    gap: 16px;
    font-weight: 700;
    font-size: 23px;
    line-height: 122%;
    color: #ffffff;

    @include mobile {
      font-size: 16px;
      line-height: $primarylineheight;
    }
  }
}

//Фон для "Подробнее" при наведении на карточку с туром
.cardfooter__more {
  .stories-card__pictureblock:hover ~ .stories-card__info & {
    background-color: $linkhoverclr;
    border-radius: 50px;
    padding: 7px 20px;
    margin-left: -20px;
    margin-bottom: -7px;
    transition: background-color 0.3s ease;
  }
  .stories-card__pictureblock:active ~ .stories-card__info & {
    background-color: $linkactiveclr;
    border-radius: 50px;
    padding: 7px 20px;
    margin-left: -20px;
    margin-bottom: -7px;
  }
}
//-------------------------------------------------------------

.body__ending {
  @include padding(135px, 29px, 0, 29px);

  @include tablet {
    padding-left: 20px;
    padding-right: 20px;
  }
  @include mobile {
    @include padding(75px, 21px, 0, 21px);
  }
}

.ending {
  @include flex(unset, center, center);
  gap: 30px;

  @include mobile {
    flex-direction: column;
  }
}

.ending__pictureblock {
  @include flex(unset, center, center);
  overflow: hidden;

  border-radius: 50px;
  @include mobile {
    border-radius: 20px;
    width: 130px;
    height: 133px;
  }
}

.ending__picture {
  height: 100%;
  object-fit: cover;
}

.ending__block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 371px;

  @include mobile {
    align-items: center;
  }
}

.ending__header {
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
  color: #1b1f2b;

  @include mobile {
    width: 291px;
    text-align: center;
    font-weight: 700;
    font-size: 23px;
    line-height: 120%;
    letter-spacing: 0.04em;
  }
}

.ending__text {
  font-weight: 400;
  font-size: 20px;
  line-height: $primarylineheight;
  color: #a6a6a6;

  @include mobile {
    text-align: center;
    font-size: 16px;
  }
}

.ending__mail {
  text-decoration: underline 1px;
  text-decoration-color: transparent;
  color: black;

  &:hover {
    transition: all 0.3s ease-out;
    text-decoration-color: currentColor;
  }
  &:active {
    color: #286562;
    transition: all 0.3s ease-out;
    text-decoration-color: currentColor;
  }
}

.body__footer {
  margin-top: 135px;
  padding: 30px 53px;

  @include mobile {
    padding: 21px 0;
    margin-top: 75px;
  }
}

.footer {
  background-color: #f4f0e9;
}

.footer__block {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 1168px;

  @include mobile {
    flex-direction: column;
    align-items: center;
    gap: 7px;
  }
}

.footer__text {
  font-weight: 400;
  font-size: 20px;
  line-height: $primarylineheight;
  color: #a6a6a6;

  @include mobile {
    font-size: 16px;
  }
}

.footer__social {
  display: flex;
  gap: 25px;

  @include mobile {
    gap: 15px;
  }
}

.footer__social-elem {
  display: flex;
  align-items: baseline;
  gap: 12px;

  @include mobile {
    gap: 6.54px;
    align-items: center;
  }
  &_fb {
    gap: 15px;

    @include mobile {
      gap: 8.85px;
    }
  }
}

.footer__social-ico {
  &_vk {
    margin-left: 4px;
    width: 20px;
    height: 12px;

    @include mobile {
      width: 15.38px;
      height: 9.23px;
    }
  }
  &_fb {
    margin-left: 13px;
    width: 8px;
    height: 17px;

    @include mobile {
      width: 6.15px;
      height: 13.08px;
    }
  }
  &_inst {
    margin-left: 10px;
    width: 14px;
    height: 14px;

    @include mobile {
      width: 10.77px;
      height: 10.77px;
    }
  }
}

.footer__social-name {
  color: black;
  font-weight: 400;
  font-size: 20px;
  line-height: $primarylineheight;

  @include mobile {
    font-size: 16px;
  }
}
