@import "reset";
@import "media";
@import "vars";

@mixin flex($flexdir, $align, $justify) {
  display: flex;
  flex-direction: $flexdir;
  align-items: $align;
  justify-content: $justify;
}
@mixin hasCheckedOption() {
  &:has(option:checked:not(:disabled)) {
    @content;
  }
}
@mixin font($fs, $fw, $lh, $ls) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
}

html {
  scroll-behavior: smooth;
}

.body {
  font-family: $primary-font-family;
  font-style: $primary-font-style;
  color: $clr-white;
  background-color: $clr-beige100;
  min-width: 360px;
}

/*Убрать полосу прокрутки для всей страницы*/
::-webkit-scrollbar {
  width: 0;
}

.body__header {
  padding: 0 $header-sidepadding;

  @include mobile {
    padding: 0 $header-sidepadding-mobile;
  }
}

.header {
  @include flex(column, center, null);
  height: $header-height;

  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;

  @include desktop {
    background-image: url("../images/header_section/header-background.jpg");
  }
  @include tablet {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 39.9%
      ),
      linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../images/header_section/header-background-small.jpg);
  }
  @include mobile {
    height: $header-height-nobile;
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 39.9%
      ),
      linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../images/header_section/header-background-small.jpg);
  }

  &__space {
    display: none;
    height: 88px;
    margin-bottom: 119px;

    @include mobile {
      margin-bottom: 52px;
    }
  }
  &__top {
    @include flex(null, null, center);
    width: 100%;
    top: -88px;
    transition: top 1s;
  }
  &__nav {
    margin-bottom: 119px;
  }
  &__title {
    width: 768px;
    margin-bottom: 50px;
    text-align: center;
    @include font(
      $font-size-h1,
      $font-weight-h1,
      $font-lineheight-h1,
      $font-letterspacing-h1
    );

    @include mobile {
      width: 360px;
      margin-bottom: 40px;
      @include font(
        $font-size-h1-mobile,
        $font-weight-h1-mobile,
        $font-lineheight-h1-mobile,
        $font-letterspacing-h1-mobile
      );
    }
  }
  &__text {
    margin-bottom: 50px;
    text-align: center;
    width: 562px;
    @include font(
      $font-size-pnormal,
      $font-weight-pnormal,
      $font-lineheight-pnormal,
      $font-letterspacing-pnormal
    );

    @include tablet {
      width: 442px;
    }
    @include mobile {
      width: 310px;
      margin-bottom: 40px;
      @include font(
        $font-size-pnormal-mobile,
        $font-weight-pnormal-mobile,
        $font-lineheight-pnormal-mobile,
        $font-letterspacing-pnormal-mobile
      );
    }
  }
  &__button {
    padding: 5px 20px;
    border-radius: 10px;
    background-color: $clr-white;
    color: $clr-black;
    @include font(
      $font-size-psmall,
      $font-weight-psmall,
      $font-lineheight-psmall,
      $font-letterspacing-psmall
    );

    @include mobile {
      @include font(
        $font-size-psmall-mobile,
        $font-weight-psmall-mobile,
        $font-lineheight-psmall-mobile,
        $font-letterspacing-psmall-mobile
      );
    }

    &:hover {
      background-color: $clr-orange200;
      color: $clr-white;
      transition: background-color 0.3s ease, color 0.3s ease;
    }
    &:active {
      background-color: $clr-orange100;
      color: $clr-black;
      transition: none;
    }
  }
}

.navigation {
  @include flex(null, center, space-between);

  width: 100%;
  height: 88px;
  @include font(
    $font-size-pnormal,
    $font-weight-pnormal,
    $font-lineheight-pnormal,
    $font-letterspacing-pnormal
  );

  @include desktop {
    max-width: 1168px;
  }
  @include tablet {
    max-width: 910px;
  }
  @include mobile {
    margin-bottom: 52px;
    @include font(
      $font-size-pnormal-mobile,
      $font-weight-pnormal-mobile,
      $font-lineheight-pnormal-mobile,
      $font-letterspacing-pnormal-mobile
    );
  }

  &__logo {
    width: auto;

    @include mobile {
      width: 133px;
    }
  }
  &__list {
    display: flex;

    @include desktop {
      gap: 50px;
    }
    @include tablet {
      gap: 30px;
    }
    @include mobile {
      display: none;
    }
  }
  &__link {
    color: $clr-white;
  }
  &__phone {
    color: $clr-white;
  }
}

//Скрытое меню
.header__top_show {
  position: fixed;
  top: 0;
  background: rgba(243, 239, 232, 0.6);
  backdrop-filter: blur(27px);
  z-index: 100;
  padding: 0 57px;
  @include mobile {
    padding: 0 20px;
  }

  .header__nav {
    margin-bottom: 0;
    color: $clr-black;
  }
  .navigation__link {
    color: $clr-black;
  }
  .navigation__link:hover {
    text-decoration-color: currentColor;
  }
  .navigation__logo {
    filter: invert(1);
  }
  .navigation__phone {
    color: $clr-black;
  }
}
//-------------------

.link {
  text-decoration: underline 1px;
  text-underline-offset: 6px;
  text-decoration-color: transparent;

  &:hover {
    text-decoration-color: currentColor;
    transition: text-decoration-color 0.3s ease-out;
  }
}

.title {
  color: $clr-black;
  text-align: center;
  @include font(
    $font-size-h2,
    $font-weight-h2,
    $font-lineheight-h2,
    $font-letterspacing-h2
  );

  @include mobile {
    @include font(
      $font-size-h2-mobile,
      $font-weight-h2-mobile,
      $font-lineheight-h2-mobile,
      $font-letterspacing-h2-mobile
    );
  }
  &_type_1 {
    margin-bottom: 30px;

    @include mobile {
      margin-bottom: 20px;
    }
  }
}

.body__tours {
  padding-top: $tours-toppadding;
  @include mobile {
    padding: $tours-toppadding-mobile $tours-sidepadding-mobile 0;
  }
}

.tours {
  @include flex(column, center, null);

  &__title {
    margin-bottom: 35px;

    @include mobile {
      margin-bottom: 30px;
    }
  }
  &__list {
    @include flex(null, null, center);
    flex-wrap: wrap;

    @include desktop {
      width: 1170px;
      gap: 30px;
    }
    @include tablet {
      width: 918px;
      gap: 18px;
    }
    @include mobile {
      min-width: 318px;
      gap: 18px;
    }
  }
}

.tours-menu {
  @include flex(null, null, center);
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 106px;

  @include mobile {
    margin-bottom: 50px;
    gap: 10px;
  }

  &__link {
    color: $clr-black;
    border: none;
    outline: none;
    background: transparent;
    @include font(
      $font-size-pbig,
      $font-weight-pbig,
      $font-lineheight-pbig,
      $font-letterspacing-pbig
    );

    @include mobile {
      @include font(
        $font-size-pbig-mobile,
        $font-weight-pbig-mobile,
        $font-lineheight-pbig-mobile,
        $font-letterspacing-pbig-mobile
      );
    }

    &:active {
      text-decoration-color: currentColor;
      color: $clr-orange200;
    }
    &_active {
      text-decoration: underline 1px;
      text-underline-offset: 6px;
      color: $clr-orange200;
    }
  }
}

.tours-card {
  position: relative;
  width: 370px;
  height: 531px;

  @include tablet {
    width: 450px;
  }
  @include mobile {
    width: 318px;
    height: 318px;
  }

  &__picture {
    transition: transform 0.3s ease;
    width: 100%;

    .tours-card:hover & {
      transform: scale(1.2);
    }
  }
  &__pictureblock {
    &::after {
      background: linear-gradient(
        360deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.06) 48.44%,
        rgba(0, 0, 0, 0.5) 100%
      );
      pointer-events: none;
    }
  }
  &__info {
    @include flex(column, null, start);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: $clr-white;

    padding: 50px;
    @include mobile {
      padding: 25px;
    }
  }
  &__name {
    @include font(
      $font-size-h3,
      $font-weight-h3,
      $font-lineheight-h3,
      $font-letterspacing-h3
    );

    @include mobile {
      @include font(
        $font-size-h3-mobile,
        $font-weight-h3-mobile,
        $font-lineheight-h3-mobile,
        0.04em
      );
    }
  }
  &__price {
    margin-top: 16px;
    @include font(
      $font-size-psmall,
      $font-weight-psmall,
      $font-lineheight-psmall,
      $font-letterspacing-psmall
    );

    @include mobile {
      margin-top: 13px;
      @include font(
        $font-size-psmall-mobile,
        $font-weight-psmall-mobile,
        $font-lineheight-psmall-mobile,
        $font-letterspacing-psmall-mobile
      );
    }
  }
  &__more {
    display: flex;
    gap: 16px;
    margin-top: auto;
    align-self: flex-start;
    @include font(
      $font-size-pbig,
      $font-weight-pbig,
      $font-lineheight-pbig,
      $font-letterspacing-pbig
    );

    @include mobile {
      @include font(
        $font-size-pbig-mobile,
        $font-weight-pbig-mobile,
        $font-lineheight-pbig-mobile,
        $font-letterspacing-pbig-mobile
      );
    }

    .tours-card:hover & {
      background-color: $clr-green400;
      border-radius: 50px;
      padding: 7px 20px;
      margin: auto 0 -7px -20px;
      transition: background-color 0.3s ease;
    }
    .tours-card:active & {
      background-color: $clr-orange200;
      border-radius: 50px;
      padding: 7px 20px;
      margin: auto 0 -7px -20px;
      transition: none;
    }
  }
}

.pictureblock {
  @include flex(null, center, center);
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  isolation: isolate;

  border-radius: 50px;
  @include mobile {
    border-radius: 20px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    );
    border-radius: 50px;

    @include mobile {
      border-radius: 20px;
    }
    pointer-events: none;
  }
}

.body__form {
  padding: $form-toppadding $form-sidepadding 0;

  @include mobile {
    padding: $form-toppadding-mobile $form-sidepadding-mobile 0;
  }
}

.form {
  @include flex(column, center, null);
}

.desc {
  width: 418px;
  margin-bottom: 100px;

  color: $clr-gray300;
  text-align: center;
  @include font(
    $font-size-pnormal,
    $font-weight-pnormal,
    $font-lineheight-pnormal,
    $font-letterspacing-pnormal
  );

  @include mobile {
    width: 318px;
    margin-bottom: 50px;
    @include font(
      $font-size-pnormal-mobile,
      $font-weight-pnormal-mobile,
      $font-lineheight-pnormal-mobile,
      $font-letterspacing-pnormal-mobile
    );
  }
}

.desc_form {
  @include mobile {
    margin-bottom: 40px;
  }
}

.form__fields {
  display: grid;
  background-color: $clr-white;
  max-width: 1170px;
  width: 100%;

  @include desktop {
    grid-template-columns: 1fr 1fr;
    gap: 33px 30px;
    padding: 70px;
    border-radius: 50px;
  }
  @include tablet {
    grid-template-columns: 1fr 1fr;
    gap: 33px 20px;
    padding: 60px;
    border-radius: 50px;
  }
  @include mobile {
    grid-template-columns: 1fr;
    padding: 20px 20px 40px;
    gap: 30px;
    border-radius: 30px;
  }
}

.field {
  &_big {
    @include desktop {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    @include tablet {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
  &__agreedwrap {
    display: flex;
  }
  &__label {
    display: flex;

    color: $clr-black;
    @include font(
      $font-size-pnormal,
      $font-weight-pnormal,
      $font-lineheight-pnormal,
      $font-letterspacing-pnormal
    );

    @include mobile {
      @include font(
        $font-size-pnormal-mobile,
        $font-weight-pnormal-mobile,
        $font-lineheight-pnormal-mobile,
        $font-letterspacing-pnormal-mobile
      );
    }
  }
  &__input {
    box-sizing: border-box;
    width: 100%;
    height: 68px;
    padding: 19px;
    background: $clr-beige100;
    border: 1px solid $clr-beige200;
    border-radius: 10px;
    margin-top: 8px;

    @include font(
      $font-size-pnormal,
      $font-weight-pnormal,
      $font-lineheight-pnormal,
      $font-letterspacing-pnormal
    );

    @include mobile {
      padding: 9px;
      height: 43px;
      @include font(
        $font-size-pnormal-mobile,
        $font-weight-pnormal-mobile,
        $font-lineheight-pnormal-mobile,
        $font-letterspacing-pnormal-mobile
      );
    }

    &:hover {
      background-color: $clr-beige200;
    }
    &:focus {
      background-color: $clr-beige200;
      border: 1px solid $clr-gray300;
    }
    &::placeholder {
      color: $clr-gray300;
      @include font(
        $font-size-pnormal,
        $font-weight-pnormal,
        $font-lineheight-pnormal,
        $font-letterspacing-pnormal
      );

      @include mobile {
        @include font(
          $font-size-pnormal-mobile,
          $font-weight-pnormal-mobile,
          $font-lineheight-pnormal-mobile,
          $font-letterspacing-pnormal-mobile
        );
      }
    }
    &_where {
      color: $clr-gray300;
      appearance: none;
      background-image: url("../images/svg_elements/arrow_down.svg");
      background-repeat: no-repeat;
      background-position: right 24px top 50%;

      @include mobile {
        padding: 10.5px 9px;
        height: 46px;
        background-position: right 14px top 50%;
      }
    }
    &_area {
      height: 152px;
      resize: none;
      vertical-align: top;

      @include mobile {
        height: 132px;
      }
    }
  }
  &__option {
    color: $clr-black;
  }
  &__radio {
    display: flex;
    gap: 31px;

    margin-top: 8px;
  }
  &__radiocircle {
    width: 26px;
    height: 26px;
    vertical-align: top;
    margin: 0 11px 0 0;

    @include mobile {
      width: 20px;
      height: 20px;
    }
  }
  &__license {
    text-decoration: underline 1px;
    text-decoration-color: transparent;
    color: $clr-black;

    &:hover {
      text-decoration-color: currentColor;
      transition: text-decoration-color 0.3s ease-out;
    }
    &:active {
      color: $clr-green400;
      text-decoration-color: currentColor;
    }
  }
  &__agreed {
    color: $clr-gray300;
    @include desktop {
      @include font(
        $font-size-psmall,
        $font-weight-psmall,
        $font-lineheight-psmall,
        $font-letterspacing-psmall
      );
    }
    @include tablet {
      @include font(
        $font-size-psmall,
        $font-weight-psmall,
        $font-lineheight-psmall,
        $font-letterspacing-psmall
      );
    }
    @include mobile {
      @include font(
        $font-size-psmall-mobile,
        $font-weight-psmall-mobile,
        $font-lineheight-psmall-mobile,
        normal
      );
    }
  }
  &__checkbox {
    width: 26px;
    height: 26px;
    flex-shrink: 0;
    vertical-align: top;
    margin: 0;

    @include desktop {
      margin-right: 19px;
    }
    @include tablet {
      margin-right: 11px;
    }
    @include mobile {
      margin-right: 10px;
      width: 20px;
      height: 20px;
    }
  }
}

//Сброс цвета в поле выбора направления
#direction {
  @include hasCheckedOption() {
    color: $clr-black;
  }
}
//---------------------------------------

//custom radio
.field__radiocircle {
  position: absolute;
  z-index: -1;
  opacity: 0;

  & + label {
    display: inline-flex;
    align-items: center;
    user-select: none;

    margin-right: 11px;

    @include mobile {
      margin-right: 10px;
    }
  }
  & + label::before {
    content: "";
    width: 26px;
    height: 26px;
    background-image: url("../images/svg_elements/radio.svg");
    background-repeat: no-repeat;
    background-position: center center;

    @include mobile {
      width: 20px;
      height: 20px;
      background-size: 20px 20px;
    }
  }
  &:checked + label::before {
    background-size: 26px 26px, auto;
    background-position: center center, center center;
    background-image: url("../images/svg_elements/radio.svg"),
      url("../images/svg_elements/circle.svg");

    @include mobile {
      background-image: url("../images/svg_elements/radio.svg"),
        url("../images/svg_elements/circle.svg");
      background-size: 20px 20px, 9.23px 9.23px;
    }
  }
}
//----------------------------------------------------------

//custom checkbox
.field__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;

  & + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin-right: 19px;

    @include tablet {
      margin-right: 11px;
    }
    @include mobile {
      margin-right: 10px;
    }
  }
  & + label::before {
    content: "";
    width: 26px;
    height: 26px;
    background-image: url("../images/svg_elements/checkbox.svg");
    background-repeat: no-repeat;
    background-position: center center;

    @include mobile {
      width: 20px;
      height: 20px;
      background-size: 20px 20px;
    }
  }
  &:checked + label::before {
    background-size: 26px 26px, auto;
    background-position: center center, center center;
    background-image: url("../images/svg_elements/checkbox.svg"),
      url("../images/svg_elements/checked.svg");

    @include mobile {
      background-image: url("../images/svg_elements/checkbox.svg"),
        url("../images/svg_elements/checked_small.svg");
      background-size: 20px 20px, auto;
    }
  }
}
//----------------------------------------------------------

.form__submit-section {
  @include desktop {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  @include tablet {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  display: flex;
  gap: 30px;

  @include mobile {
    gap: 10px;
  }
}

.form__button {
  padding: 15px 0;
  border-radius: 10px;
  border: none;
  outline: none;
  @include font(
    $font-size-pnormal,
    $font-weight-pnormal,
    $font-lineheight-pnormal,
    $font-letterspacing-pnormal
  );

  @include mobile {
    padding: 12px 0;
    @include font(
      $font-size-pnormal-mobile,
      $font-weight-pnormal-mobile,
      $font-lineheight-pnormal-mobile,
      $font-letterspacing-pnormal-mobile
    );
  }

  &_heavy {
    padding: 15px 70.5px;
    background-color: $clr-green400;
    color: $clr-white;

    @include mobile {
      padding: 12px 29.5px;
    }
    &:hover {
      background-color: $clr-green300;
    }
    &:active {
      background-color: $clr-green200;
    }
  }
  &_light {
    padding: 15px 72.5px;
    background-color: $clr-green100;
    color: $clr-green400;

    @include mobile {
      padding: 12px 31px;
    }
    &:hover {
      background-color: $clr-gray100;
    }
    &:active {
      background-color: $clr-gray200;
    }
  }
}

.body__feedback {
  padding-top: $feedback-toppadding;

  @include mobile {
    padding: $feedback-toppadding-mobile $feedback-sidepadding-mobile 0;
  }
}

.feedback {
  @include flex(column, center, null);

  &__list {
    display: flex;

    @include desktop {
      width: 1170px;
      gap: 30px;
    }
    @include tablet {
      width: 918px;
      gap: 18px;
    }
    @include mobile {
      flex-wrap: wrap;
      gap: 18px;
      justify-content: center;
    }
  }
}

.feedback-element {
  display: flex;
  flex-basis: 50%;
  justify-content: space-between;
  flex-direction: column;
  background: $clr-beige200;

  padding: 40px;
  border-radius: 50px;
  gap: 70px;

  @include mobile {
    padding: 20px;
    border-radius: 20px;
    gap: 40px;
    max-width: 318px;
    min-width: 318px;
  }

  &__text {
    font-style: normal;
    color: $clr-black;
    @include font(
      $font-size-pbig,
      $font-weight-pbig,
      $font-lineheight-pbig,
      $font-letterspacing-pbig
    );

    @include mobile {
      @include font(
        $font-size-pbig-mobile,
        $font-weight-pbig-mobile,
        $font-lineheight-pbig-mobile,
        $font-letterspacing-pbig-mobile
      );
    }
  }
  &__foot {
    display: flex;
    justify-content: space-between;

    @include mobile {
      align-items: end;
    }
  }
  &__sub {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__author {
    color: $clr-black;
    @include font(
      $font-size-h3,
      $font-weight-h3,
      $font-lineheight-h3,
      $font-letterspacing-h3
    );

    @include mobile {
      @include font(
        $font-size-h3-mobile,
        $font-weight-h3-mobile,
        $font-lineheight-h3-mobile,
        $font-letterspacing-h3-mobile
      );
    }
  }
  &__tour {
    color: $clr-gray300;
    @include font(
      $font-size-psmall,
      $font-weight-psmall,
      $font-lineheight-psmall,
      $font-letterspacing-psmall
    );

    @include mobile {
      @include font(
        $font-size-psmall-mobile,
        $font-weight-psmall-mobile,
        $font-lineheight-psmall-mobile,
        $font-letterspacing-psmall-mobile
      );
    }
  }
  &__picture {
    border-radius: 100px;
  }
}

.body__unifiedblock {
  padding: $unifiedblock-toppadding $unifiedblock-sidepadding 0;

  @include tablet {
    padding: $unifiedblock-toppadding-tablet $unifiedblock-sidepadding-tablet 0;
  }

  @include mobile {
    padding: $unifiedblock-toppadding-mobile $unifiedblock-sidepadding-mobile 0;
  }
}

.photos {
  @include flex(column, center, null);
}

.photos__list {
  display: grid;

  gap: 30px;
  margin-bottom: 30px;
  max-width: 1860px;

  @include tablet {
    gap: 20px;
  }
  @include mobile {
    gap: 10px;
    margin-bottom: 18px;
    max-width: 318px;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &_gap {
    @include mobile {
      gap: 18px;
    }
  }
  &_small {
    grid-template-columns: 1fr 1fr 1fr 1fr;

    @include tablet {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include mobile {
      grid-template-columns: 1fr 1fr;
    }
  }
  &_big {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    @include tablet {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @include mobile {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.photos__card {
  object-fit: cover;
  max-width: 100%;

  height: 301px;
  border-radius: 50px;

  @include mobile {
    height: 110px;
    border-radius: 20px;
  }
  &_hidden-m {
    @include tablet {
      display: none;
    }
    @include mobile {
      display: none;
    }
  }
  &_hidden-s {
    @include mobile {
      display: none;
    }
  }
}

.stories {
  @include flex(column, center, null);

  &__list {
    @include flex(column, center, null);

    @include desktop {
      width: 1170px;
      gap: 50px;
    }
    @include tablet {
      width: 918px;
      gap: 50px;
    }
    @include mobile {
      min-width: 318px;
      gap: 20px;
    }
  }
}

.stories-card {
  display: block;
  position: relative;
  width: 1170px;
  height: 567px;

  @include tablet {
    width: 918px;
  }
  @include mobile {
    width: 318px;
    height: 455px;
  }
  &__pictureblock {
    &::after {
      background: linear-gradient(
        270deg,
        rgba(0, 0, 0, 0) 0.01%,
        rgba(0, 0, 0, 0.2) 100%
      );
    }
  }
  &__picture {
    height: 100%;
    transition: transform 0.3s ease;
    object-fit: cover;
    .stories-card:hover & {
      transform: scale(1.2);
    }
  }
  &__desc {
    margin-top: 37px;

    @include mobile {
      margin-top: 20px;
    }
  }
  &__info {
    @include flex(column, null, start);
    pointer-events: none;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: $clr-white;

    padding: 60px;
    @include mobile {
      padding: 30px;
    }
  }
  &__cardfooter {
    margin-top: auto;
  }
  &__name {
    @include font(
      $font-size-h3,
      $font-weight-h3,
      $font-lineheight-h3,
      $font-letterspacing-h3
    );

    @include mobile {
      width: 140px;
      @include font(
        $font-size-h3-mobile,
        $font-weight-h3-mobile,
        $font-lineheight-h3-mobile,
        $font-letterspacing-h3-mobile
      );
    }
  }
}

.card-desc {
  width: 554px;
  @include font(
    $font-size-pnormal,
    $font-weight-pnormal,
    $font-lineheight-pnormal,
    $font-letterspacing-pnormal
  );

  @include mobile {
    width: 263px;
    @include font(
      $font-size-pnormal-mobile,
      $font-weight-pnormal-mobile,
      $font-lineheight-pnormal-mobile,
      $font-letterspacing-pnormal-mobile
    );
  }
  &__ul {
    list-style-type: disc;
    list-style-position: inside;
    margin: -3px 0 0 14px;
    line-height: 128%;

    @include mobile {
      margin: 0 0 0 9px;
      @include font(
        $font-size-pnormal-mobile,
        $font-weight-pnormal-mobile,
        $font-lineheight-pnormal-mobile,
        $font-letterspacing-pnormal-mobile
      );
    }
  }
  &__li {
    position: relative;

    &::marker {
      font-size: 0.7em;
    }
  }
  &__li-p {
    position: absolute;
    top: 3px;
    left: 16px;
  }
}

.cardfooter {
  @include flex(null, baseline, space-between);

  &__arrow {
    width: 22px;
  }
  &__socials {
    pointer-events: all;
    display: flex;
    gap: 35px;

    @include mobile {
      display: none;
    }
  }
  &__link {
    color: $clr-white;
    @include font(
      $font-size-pnormal,
      $font-weight-pnormal,
      $font-lineheight-pnormal,
      $font-letterspacing-pnormal
    );

    &:active {
      color: $clr-orange200;
      text-decoration-color: currentColor;
    }
  }
  &__more {
    display: flex;
    gap: 16px;
    color: $clr-white;
    @include font(
      $font-size-pbig,
      $font-weight-pbig,
      $font-lineheight-pbig,
      $font-letterspacing-pbig
    );

    @include mobile {
      @include font(
        $font-size-pbig-mobile,
        $font-weight-pbig-mobile,
        $font-lineheight-pbig-mobile,
        $font-letterspacing-pbig-mobile
      );
    }
  }
}

//Фон для "Подробнее" при наведении на карточку с туром
.cardfooter__more {
  .stories-card__pictureblock:hover ~ .stories-card__info & {
    background-color: $clr-green400;
    border-radius: 50px;
    padding: 7px 20px;
    margin: 0 0 -7px -20px;
    transition: background-color 0.3s ease;
  }
  .stories-card__pictureblock:active ~ .stories-card__info & {
    background-color: $clr-orange200;
    border-radius: 50px;
    padding: 7px 20px;
    margin: 0 0 -7px -20px;
    transition: none;
  }
}
//-------------------------------------------------------------

.ending {
  @include flex(null, center, center);
  gap: 30px;

  @include mobile {
    flex-direction: column;
  }
}

.ending__pictureblock {
  @include flex(null, center, center);
  overflow: hidden;

  border-radius: 50px;
  @include mobile {
    border-radius: 20px;
    width: 130px;
    height: 133px;
  }
}

.ending__picture {
  height: 100%;
  object-fit: cover;
}

.ending__block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 371px;

  @include mobile {
    align-items: center;
  }
}

.ending__header {
  color: $clr-black;
  @include font(
    $font-size-h3,
    $font-weight-h3,
    $font-lineheight-h3,
    $font-letterspacing-h3
  );

  @include mobile {
    width: 291px;
    text-align: center;
    @include font(
      $font-size-h3-mobile,
      $font-weight-h3-mobile,
      $font-lineheight-h3-mobile,
      $font-letterspacing-h3-mobile
    );
  }
}

.ending__text {
  color: $clr-gray300;
  @include font(
    $font-size-pnormal,
    $font-weight-pnormal,
    $font-lineheight-pnormal,
    $font-letterspacing-pnormal
  );

  @include mobile {
    text-align: center;
    @include font(
      $font-size-pnormal-mobile,
      $font-weight-pnormal-mobile,
      $font-lineheight-pnormal-mobile,
      $font-letterspacing-pnormal-mobile
    );
  }
}

.ending__mail {
  text-decoration: underline 1px;
  text-decoration-color: transparent;
  color: $clr-black;

  &:hover {
    transition: text-decoration-color 0.3s ease-out;
    text-decoration-color: currentColor;
  }
  &:active {
    color: $clr-green400;
    text-decoration-color: currentColor;
  }
}

.body__footer {
  margin-top: $footer-topmargin;
  padding: 30px $form-sidepadding;

  @include mobile {
    padding: 21px 0;
    margin-top: $footer-topmargin-mobile;
  }
}

.footer {
  background-color: $clr-beige200;
}

.footer__block {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 1168px;

  @include mobile {
    flex-direction: column;
    align-items: center;
    gap: 7px;
  }
}

.footer__text {
  color: $clr-gray300;
  @include font(
    $font-size-pnormal,
    $font-weight-pnormal,
    $font-lineheight-pnormal,
    $font-letterspacing-pnormal
  );

  @include mobile {
    @include font(
      $font-size-pnormal-mobile,
      $font-weight-pnormal-mobile,
      $font-lineheight-pnormal-mobile,
      $font-letterspacing-pnormal-mobile
    );
  }
}

.footer__social {
  display: flex;
  gap: 25px;

  @include mobile {
    gap: 15px;
  }
}

.footer__social-elem {
  display: flex;
  align-items: baseline;
  gap: 12px;

  @include mobile {
    gap: 6.54px;
    align-items: center;
  }
  &_fb {
    gap: 15px;

    @include mobile {
      gap: 8.85px;
    }
  }
}

.footer__social-ico {
  &_vk {
    margin-left: 4px;
    width: 20px;
    height: 12px;

    @include mobile {
      width: 15.38px;
      height: 9.23px;
    }
  }
  &_fb {
    margin-left: 13px;
    width: 8px;
    height: 17px;

    @include mobile {
      width: 6.15px;
      height: 13.08px;
    }
  }
  &_inst {
    margin-left: 10px;
    width: 14px;
    height: 14px;

    @include mobile {
      width: 10.77px;
      height: 10.77px;
    }
  }
}

.footer__social-name {
  color: $clr-black;
  @include font(
    $font-size-pnormal,
    $font-weight-pnormal,
    $font-lineheight-pnormal,
    $font-letterspacing-pnormal
  );

  @include mobile {
    @include font(
      $font-size-pnormal-mobile,
      $font-weight-pnormal-mobile,
      $font-lineheight-pnormal-mobile,
      $font-letterspacing-pnormal-mobile
    );
  }
}
