@import 'reset';
@import 'media';

body {
    font-family: 'Roboto';
	font-style: normal;
    color: white;
    background-color: #F9F7F4;
    min-width: 360px;
}

/*Убрать полосу прокрутки для всей страницы*/
::-webkit-scrollbar {
    width: 0;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 831px;

    padding-left: 57px;
    padding-right: 57px;

    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;

    @include l_size {
        background-image: url('../images/header-background.jpg');
    }
    @include m_size {
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/header-background-small.jpg);
    }
    @include s_size {
        height: 488px;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/header-background-small.jpg);
        padding-left: 20px;
        padding-right: 20px;
    }
}

.header__logo {
    width: auto;

    @include s_size {
        width: 133px;
    }
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 88px;
    margin-bottom: 119px;

    font-weight: 400;
    font-size: 20px;
    line-height: 142%;

    @include l_size {
        max-width: 1168px;
    }
    @include m_size {
        max-width: 910px;
    }
    @include s_size {
        margin-bottom: 52px;
        font-size: 16px;
    }
}

.header__list {
    display: flex;

    @include l_size {
        gap: 50px;
    }
    @include m_size {
        gap: 30px;
    }
    @include s_size {
        display: none;
    }
}

.header__link {
    color: white;
}

.header__title {
    width: 768px;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 96px;
    line-height: 109%;
    text-align: center;
    letter-spacing: 0.02em;
    
    @include s_size {
        width: 360px;
        margin-bottom: 40px;
        font-size: 34px;
        line-height: 112%;
    }
}

.header__text {
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
    text-align: center;

    @include l_size {
        width: 562px;
    }
    @include m_size {
        width: 442px;
    }
    @include s_size {
        width: 310px;
        margin-bottom: 40px;
        font-weight: 400;
        font-size: 16px;
        line-height: 142%;
    }
}

.header__button {
    padding: 5px 20px;
    border-radius: 10px;

    font-weight: 400;
    font-size: 17px;
    line-height: 142%;
    letter-spacing: -0.01em;
    background-color: white;
    color: #1B1F2B;

    @include s_size {
        font-size: 16px;
    }
}


.tours {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 135px;

    @include s_size {
        padding: 0 21px;
        padding-top: 75px;
    }
}

.tours__title {
    color: #1B1F2B;
    font-weight: 700;
    font-size: 59px;
    line-height: 124%;
    margin-bottom: 35px;

    @include s_size {
        margin-bottom: 30px;
        font-size: 34px;
        line-height: 112%;
        letter-spacing: 0.02em;
    }

}

.tours__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 106px;
    
    @include s_size {
        margin-bottom: 50px;
        gap: 10px;
    }
}

.places__link {
    font-weight: 700;
    font-size: 23px;
    line-height: 122%;
    color: #1B1F2B;

    @include s_size {
        font-size: 16px;
        line-height: 142%;
    }
}

.tours__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include l_size {
        width: 1170px;
        gap: 30px;
    }
    @include m_size {
        width: 918px;
        gap: 18px;
    }
    @include s_size {
        min-width: 318px;
        gap: 18px;
    }
}

.tours__card {
    position: relative;
    width: 370px;

    @include m_size {
        width: 450px;
        height: 531px;
    }
    @include s_size {
        width: 318px;
        height: 318px;
    }
}

.tours__pictureblock {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    border-radius: 50px;
    @include s_size {
        border-radius: 20px;
    }
}

.tours__picture {
    width: 100%;
}

.tours__pictureblock::after {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 50px;

    @include s_size {
        border-radius: 20px;
    }
}

.tours__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: absolute;
	top	: 0;
	left: 0;
    width: 100%;
    color: #FFFFFF;

    padding: 50px;
    @include s_size {
        padding: 25px;
    }
}

.tours__name {
    font-weight: 500;
    font-size: 35px;
    line-height: 122%;

    @include s_size {
        font-weight: 700;
        font-size: 23px;
        line-height: 120%;
        letter-spacing: 0.04em;
    }
}

.tours__price {
    font-weight: 400;
    font-size: 17px;
    line-height: 142%;
    letter-spacing: -0.01em;
    margin-top: 16px;

    @include s_size {
        font-size: 16px;
        margin-top: 13px;
    }
}

.tours__more {
    display: flex;
    gap: 16px;
    font-weight: 700;
    font-size: 23px;
    line-height: 122%;
    margin-top: auto;

    @include s_size {
        font-size: 16px;
        line-height: 142%;
    }
}


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 135px;
    padding-left: 53px;
    padding-right: 53px;

    @include s_size {
        padding-left: 21px;
        padding-right: 21px;
        padding-top: 75px;
    }
}

.title {
    margin-bottom: 30px;
    color: #1B1F2B;
    font-weight: 700;
    font-size: 59px;
    line-height: 124%;
    text-align: center;

    @include s_size {
        margin-bottom: 20px;
        font-size: 34px;
        line-height: 112%;
        letter-spacing: 0.02em; 
    }
}

.desc {
    width: 418px;
    margin-bottom: 100px;

    color: #A6A6A6;
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
    text-align: center;

    @include s_size {
        width: 318px;
        font-size: 16px;
    }
}

.desc_form {
    @include s_size {
        margin-bottom: 40px;
    }
}

.form__inputs {
    display: grid;
    background-color: #FFFFFF;
    max-width: 1170px;
    width:100%;

    @include l_size {
        grid-template-columns: 1fr 1fr;
        gap: 33px 30px;
        padding: 70px;
        border-radius: 50px;
    }
    @include m_size {
        grid-template-columns: 1fr 1fr;
        gap: 33px 20px;
        padding: 60px;
        border-radius: 50px;
    }
    @include s_size {
        grid-template-columns: 1fr;
        padding: 20px;
        padding-bottom: 40px;
        gap: 30px;
        border-radius: 30px;
    }
}

.form__inpbig {
    @include l_size {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    @include m_size {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

.form__agreedwrap {
    display: flex;
}

.form__label {
    color: #1B1F2B;
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;

    @include s_size {
        font-size: 16px;
    }
}

.form__field {
    box-sizing: border-box;
    width: 100%;
    height: 68px;
    padding: 19px;
    background: #F9F7F4;
    border: 1px solid #F4F0E9;
    border-radius: 10px;

    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
    margin-top: 8px;

    @include s_size {
        font-size: 16px;
        padding: 9px;
        height: 43px;
    }
}

.form__field_where {
    @include s_size {
        padding: 10.5px 9px;
        height: 46px;
    }
}

.form__field::placeholder {
    color: #A6A6A6 !important;
    font-size: 20px !important;
    font-weight: 400 !important;
    line-height: 142% !important;
    @include s_size {
        font-size: 16px !important;
    }
}


.form__field_area {
    height: 152px;
    resize: none;
    vertical-align:top;

    @include s_size {
        height: 132px;
    }
}

.form__field::placeholder, .form__txtarea::placeholder {
    color: #A6A6A6;
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
}

.form__radio {
    display: flex;
    gap: 31px;
    
    margin-top: 8px;
}

.form__radiocircle {
    width: 26px;
    height: 26px;
    vertical-align:top;
    margin: 0;
    margin-right: 11px;
    
    @include s_size {
        width: 20px;
        height: 20px;
    }
}

.form__agreed {
    color: #A6A6A6;
    font-weight: 400;
    line-height: 142%;

    @include l_size {
        letter-spacing: -0.01em;
        font-size: 17px;
    }
    @include m_size {
        letter-spacing: -0.01em;
        font-size: 17px;
    }
    @include s_size {
        font-size: 16px;
    }

}

.form__checkbox {
    width: 26px;
    height: 26px;
    flex-shrink: 0;
    vertical-align:top;
    margin: 0;
    
    @include l_size {
        margin-right: 19px;
    }
    @include m_size {
        margin-right: 11px;
    }
    @include s_size {
        margin-right: 10px;
        width: 20px;
        height: 20px;
    }
}

.form__license {
    color: #1B1F2B;
}

.form__inpsub {
    @include l_size {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    @include m_size {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    display: flex;
    gap: 30px;

    @include s_size {
        gap: 10px;
    }
}

.form__button {
    padding: 15px 0;
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
    border: none;
    outline: none;

    @include s_size {
        padding: 12px 0;
        font-size: 16px;
    }
}

.form__button_heavy {
    padding-right: 70.5px;
    padding-left: 70.5px;
    background-color: #286562;
    color: #FFFFFF;
    
    @include s_size {
        padding-right: 29.5px;
        padding-left: 29.5px;
    }
}

.form__button_light {
    padding-right: 72.5px;
    padding-left: 72.5px;
    background-color: #E0F0E5;
    color: #286562;

    @include s_size {
        padding-right: 31px;
        padding-left: 31px;
    }
}


.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding-top: 135px;

    @include s_size {
        padding-top: 75px;
        padding-left: 21px;
        padding-right: 21px;
    }
}

.feedback__list {
    display: flex;

    @include l_size {
        width: 1170px;
        gap: 30px;
    }
    @include m_size {
        width: 918px;
        gap: 18px;
    }
    @include s_size {
        flex-wrap: wrap;
        gap: 18px;
        justify-content: center;
    }
}

.desc_feedback {
    @include s_size {
        margin-bottom: 50px;
    }
}

.feedback__element {
    display: flex;
    flex-basis: 50%;
    justify-content: space-between;
    flex-direction: column;
    background: #F4F0E9;

    padding: 40px;
    border-radius: 50px;
    gap: 70px;

    @include s_size {
        padding: 20px;
        border-radius: 20px;
        gap: 40px;
        width: 318px;
    }
}

.feedback__text {
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 122%;
    color: #1B1F2B;

    @include s_size {
        font-size: 16px;
        line-height: 142%;
    }
}

.feedback__foot {
    display: flex;
    justify-content: space-between;

    @include s_size {
        align-items: end;
    }
}

.feedback__sub {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.feedback__author {
    font-weight: 500;
    font-size: 35px;
    line-height: 122%;
    color: #1B1F2B;

    @include s_size {
        font-weight: 700;
        font-size: 23px;
        line-height: 120%;
        letter-spacing: 0.04em; 
    }
}

.feedback__tour {
    font-weight: 400;
    font-size: 17px;
    line-height: 142%;
    letter-spacing: -0.01em;
    color: #A6A6A6;

    @include s_size {
        font-size: 16px;
    }
}

.feedback__picture {
    border-radius: 100px;
}


.photos {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding-top: 135px;
    
    padding-left: 29px;
    padding-right: 29px;
    
    @include m_size {
        padding-left: 20px;
        padding-right: 20px;
    }

    @include s_size {
        padding-top: 75px;
        padding-left: 21px;
        padding-right: 21px;
    }
}

.photos__list {
    display: grid;

    gap: 30px;
    margin-bottom: 30px;
    max-width: 1860px;

    @include m_size {
        gap: 20px;
    }
    @include s_size {
        gap: 10px;
        margin-bottom: 18px;
        max-width: 318px;
    }
}

.photos__list_gap {
    @include s_size {
        gap: 18px;
    }
}

.photos__list_small {
    grid-template-columns: 1fr 1fr 1fr 1fr;

    @include m_size {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @include s_size {
        grid-template-columns: 1fr 1fr;
    }
}

.photos__list_big {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    @include m_size {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @include s_size {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.photos__card {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    height: 301px;
    border-radius: 50px;

    @include s_size {
        height: 110px;
        border-radius: 20px;
    }
}

.photos__card img {
    height: 100%;
    object-fit: cover;
}

.photos__card_hidden-m {
    @include m_size {
        display: none;
    }
    @include s_size {
        display: none;
    }
}

.photos__card_hidden-s {
    @include s_size {
        display: none;
    }
}