@import 'reset';
@import 'media';

body {
    font-family: 'Roboto';
	font-style: normal;
    color: white;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 831px;

    @include l_size {
        background-image: url('../images/header-background.jpg');
    }
    @include m_size {
        
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/header-background-small.jpg);
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    @include l_size {
        max-width: 1168px;
    }
    @include m_size {
        max-width: 910px;
    }
    height: 88px;
    margin-bottom: 119px;

    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
}

.header__list {
    display: flex;
    @include l_size {
        gap: 50px;
    }
    @include m_size {
        gap: 30px;
    }
}

.header__link {
    color: white;
}

.header__title {
    width: 768px;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 96px;
    line-height: 109%;

    text-align: center;
    letter-spacing: 0.02em;
}

.header__text {
    @include l_size {
        width: 562px;
    }
    @include m_size {
        width: 442px;
    }
    margin-bottom: 50px;

    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
    text-align: center;
}

.header__button {
    background-color: white;
    padding: 5px 20px;
    border-radius: 10px;

    font-weight: 400;
    font-size: 17px;
    line-height: 142%;
    letter-spacing: -0.01em;
    color: #1B1F2B;
}
