@import 'reset';
@import 'media';

body {
    font-family: 'Roboto';
	font-style: normal;
    color: white;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 831px;

    padding-left: 57px;
    padding-right: 57px;

    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;

    @include l_size {
        background-image: url('../images/header-background.jpg');
    }
    @include m_size {
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/header-background-small.jpg);
    }
    @include s_size {
        height: 488px;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/header-background-small.jpg);
        padding-left: 20px;
        padding-right: 20px;
    }
}

.header__logo {
    width: auto;

    @include s_size {
        width: 133px;
    }
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 88px;
    margin-bottom: 119px;

    font-weight: 400;
    font-size: 20px;
    line-height: 142%;

    @include l_size {
        max-width: 1168px;
    }
    @include m_size {
        max-width: 910px;
    }
    @include s_size {
        margin-bottom: 52px;
        font-size: 16px;
    }
}

.header__list {
    display: flex;
    @include l_size {
        gap: 50px;
    }
    @include m_size {
        gap: 30px;
    }
    @include s_size {
        display: none;
    }
}

.header__link {
    color: white;
}

.header__title {
    width: 768px;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 96px;
    line-height: 109%;
    text-align: center;
    letter-spacing: 0.02em;
    
    @include s_size {
        width: 360px;
        margin-bottom: 40px;
        font-size: 34px;
        line-height: 112%;
    }
}

.header__text {
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
    text-align: center;

    @include l_size {
        width: 562px;
    }
    @include m_size {
        width: 442px;
    }
    @include s_size {
        width: 310px;
        margin-bottom: 40px;
        font-weight: 400;
        font-size: 16px;
        line-height: 142%;
    }
}

.header__button {
    padding: 5px 20px;
    border-radius: 10px;

    font-weight: 400;
    font-size: 17px;
    line-height: 142%;
    letter-spacing: -0.01em;
    background-color: white;
    color: #1B1F2B;

    @include s_size {
        font-size: 16px;
    }
}
